﻿<div class="row">
    <div class="col-md-12">
        @{
            List<SelectListItem> listItems3 = new List<SelectListItem>();
            {
                listItems3.Add(new SelectListItem
                {
                    Text = "All",
                    Value = "0",
                    Selected = true
                });
                listItems3.Add(new SelectListItem
                {
                    Text = "Active",
                    Value = "1"
                });
                listItems3.Add(new SelectListItem
                {
                    Text = "In-Active",
                    Value = "2"
                });


            }
        }
        <div class="col-md-6">
            <div class="">
                Status  @Html.DropDownList("ddlrole", listItems3, new { @class = "form-control", id = "ddlrole" })
            </div>
        </div>

    </div>
</div>
<table class="table  table-responsive table-bordered" id="tbltestimonial">
    <thead>
        <tr>
            <th>UserID</th>
            <th>User Name</th>
            <th>Name</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Is Active</th>
            <th align="center">Edit</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    var $tbltestimonialtab = null;
    $(document).ready(function () {

        $tbltestimonialtab = $('#tbltestimonial').DataTable({

            "ajax": {
                "url": "/Admin/User/loaddata",
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    d.status = $("#ddlrole").val();
                }
                //"data": $("#hdnUserID").val()
            },
            "bLengthChange": false,
            "columns": [

                    { "data": "UserID", "autoWidth": true },
                    { "data": "UserName", "autoWidth": true },
                     { "data": "Name", "autoWidth": true },
                      { "data": "Phone", "autoWidth": true },
                       { "data": "Email", "autoWidth": true },
                    {

                        "aTargets": [5], "sName": "", "bSortable": false, "sClass": "centerc",
                        "render": function (data, type, row) {
                            return row.IsActive == true ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'
                        }
                    },

                       {
                           "aTargets": [6], "sName": "", "bSortable": false, "sClass": "centerc",
                           "render": function (data, type, row) {
                               return '<a onclick="return edit(' + row.UserID + ');" title="Edit"> <i class="glyphicon glyphicon-edit"></i> </a>'
                           }
                       }

            ],
            "language": {
                "emptyTable": "<div class='row'><div class='col-md-12'><div class='alert alert-danger'><p><strong>No record found.</strong></p> </div></div>"
            }
        });
    });
    function edit(id) {
        window.location.href = '/Admin/User/Manage?id=' + id + '';
    }
    //$(document).delegate(".clsremovetest", "click", function () {
    //    var id = $(this).attr("data-PartNerID");
    //    if (confirm('Are you sure to remove this Partner?')) {
    //        window.location.href = '/Manage/Partners/DeletePartners?id=' + id + '';
    //    }
    //})
    $("#ddlrole").change(function () {

        $tbltestimonialtab.ajax.reload();
    })

</script>



