﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var seconds = 5;
                setTimeout(function () {
                    document.getElementById("lblmessage").style.display = "none";
                }, seconds * 1000);
            };
        </script>
    }
}
<style>
    form#myformid {
        float: left;
        width: 100%;
        padding: 15px;
    }

    .radio-list label input {
        float: left;
    }

    .no-space label input {
        float: left;
    }

    .panel-collapse {
        padding: 10px;
    }
</style>

<link href="../../AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../AdminLTE/plugins/datatables/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="../../AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>

<section class="content-header">
    <h1>
        Users
        @*<small>Version 2.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/User"><i class="fa fa-dashboard"></i> Users</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        @if (TempData["message"] != null)
        {
            <div class="col-md-12 no-space" role="alert" id="lblmessage">
                <div class='@TempData["class"]'><strong>@TempData["message"]</strong></div>
            </div>
        }
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title">Display Testimonial</h3>*@
                </div>
                <div class="box-body">
                    @Html.Partial("~/Areas/Admin/Views/User/_user.cshtml")
                </div>
            </div>
        </div>
    </div>

</section>

