﻿@model MusicEventAPI.Areas.Admin.Entity.User
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var seconds = 5;
                setTimeout(function () {
                    document.getElementById("lblmessage").style.display = "none";
                }, seconds * 1000);
            };
        </script>
    }
}
<style>
    form#myformid {
        float: left;
        width: 100%;
        padding: 15px;
    }

    .radio-list label input {
        float: left;
    }

    .no-space label input {
        float: left;
    }

    .panel-collapse {
        padding: 10px;
    }

    /*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #fff;
        opacity: 1;
    }*/

    .select2-container .select2-selection--single {
        height: 34px;
    }

    .datepikerbaground {
        background: url(../../Content/Image/calander.png);
        background-repeat: no-repeat;
        background-position: right;
        cursor: pointer;
        padding-left: 5px;
        border-radius: 4px !important;
    }
    .astricred{
        color:red;
        font-size:17px;
    }
</style>


<link href="../../css/jquery-ui.css" rel="stylesheet" />
<script src="../../JS/jquery-ui.js"></script>
<section class="content-header">
    @if (Model.UserID == 0)
    {<h1>Add User<small></small></h1>
    }
    else
    {
        <h1>Manage User <small></small></h1>
    }
    <ol class="breadcrumb">
        <li><a href="/Admin/User"><i class="fa fa-dashboard"></i> User</a></li>
        <li class="active">Manage</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <link href="../../css/jquery-ui.css" rel="stylesheet" />
    <link href="../../css/hint-tooltip.css" rel="stylesheet" />

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="col-md-12 no-space" role="alert" id="lblmessage">
            <div class='@TempData["SuccessMessage"]'><strong>@TempData["SuccessMessage"]</strong></div>
        </div>
    }

    <div class="box box-primary">

        <div class="box-body">
            @using (Html.BeginForm("Manage", "User", FormMethod.Post, new { enctype = "multipart/form-data", @id = "testimonial_form" }))
            {
                @*<form role="form" action="#">*@
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>User Name</b><span class="astricred">*</span>   
                                @Html.TextBoxFor(model => model.UserID, new { @style = "display:none;" })
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Name</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Email</b>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(o => o.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Phone No</b>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(o => o.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(x => x.IsActive) <strong> Is Active</strong></label>
                        </div>
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(x => x.IsAdmin) <strong> Is Admin</strong></label>
                        </div>
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(x => x.IsSubAdmin) <strong> Is SubAdmin</strong></label>
                        </div>
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(x => x.IsBusinessUser) <strong> Is Business User</strong></label>
                        </div>


                    </div>

                    <div class="col-md-12 col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <b>Image Upload</b>
                                    @Html.TextBox("Image", null, new { @id = "txtfileupload1", @type = "file", @class = "form-control" })<span style="float:right;margin-top:5px;margin-right:0px;"><a class="hint--top  hint--animate" style="max-width:300px;" data-hint="Please upload image here"><i class="glyphicon glyphicon-question-sign"></i></a></span>

                                    <div id="dvPreview1" style="min-height: 100px;min-width: 100px;max-height: 100px;max-width: 100px;margin-top:10px;border:1px solid #ccc;display:block;">
                                        @if (Model.UserImagePath != null)
                                        {
                                            <img src="@("../../"+Model.UserImagePath)" onError="this.onerror = null; this.src = '../../Content/Image/NoImage.png'" alt="image" height="100" width="100" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                        <hr />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">

                                    <button type="button" onclick="javascript:history.back()" class="btn btn-default pull-right">Cancel</button>
                                    <button type="submit" style="margin-right: 10px;" class="btn btn-success pull-right">@(Model.UserID == 0 ? "Create" : "Update")</button>
                                </div>
                            </div>
                        </div>
            }
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $("#testimonial_form").submit(function () {
            if ($("#UserName").val() == '') {
                swal("Error!", "Please Enter UserName.", "error")
                return false;
            }
            else if ($("#Name").val() == '') {
                swal("Error!", "Please Enter Name.", "error")
                return false;
            }


        });
    })
   

    $(function () {
        $("#txtfileupload1").change(function () {
            $("#dvPreview1").html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                {

                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview1").show();
                        $("#imgee1").hide();
                        $("#dvPreview1").append("<img height='150' width='150'/>");
                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $("#dvPreview1 img").attr("src", e.target.result);

                        }

                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        swal("Error!", "This browser does not support FileReader.", "error")
                    }
                }
            } else {
                swal("Error!", "Please upload a valid image file.", "error")
                document.getElementById("txtfileupload1").value = "";
            }
        });
    });
</script>
