﻿<div class="row">
    @{
        string startdate = DateTime.Now.ToString("dd-MMM-yyyy");
        string enddate = DateTime.Now.AddYears(2).ToString("dd-MMM-yyyy");
    }
    <link href="../../css/jquery-ui.css" rel="stylesheet" />
    <script src="../../JS/jquery-ui.js"></script>
    <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: #fff;
            opacity: 1;
        }

        .select2-container .select2-selection--single {
            height: 34px;
        }

        .datepikerbaground {
            background: url(../../Content/Image/calander.png);
            background-repeat: no-repeat;
            background-position: right;
            cursor: pointer;
            padding-left: 5px;
            border-radius: 4px !important;
        }

        .btnadd {
            margin-top: 24px;
        }

        #tbltestimonial_wrapper .row {
            margin: 0;
        }
        /* .dt-button {
            background:#337ab7 !important
        }*/

        table#tbltestimonial thead tr th:first-child {
            text-align: center;
            width: auto !important;
            padding: 10px;
        }

        tbody tr td img {
            width: 100%;
            height: auto;
        }

        table#tbltestimonial tbody tr td:first-child {
            text-align: center;
        }

        @@media (min-width: 768px) {
            .modal-content {
                -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
                box-shadow: 0 5px 15px rgba(0,0,0,.5);
                display: table;
                padding-bottom: 10px;
            }
        }

    </style>
    <div class="col-md-2">
        <div class="form-group">
            <label>Search:</label>
            @Html.TextBox("Keyword", "", new { @class = "form-control", @placeholder = "Search Here" })
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Category:</label>

            @Html.DropDownList("ddlConsulatnt", new SelectList(MusicEventAPI.Areas.Admin.Repository.ConstantRepository.GetCategoryList(), "CategoryID", "CategoryName"), new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Image:</label>
            @{
                List<SelectListItem> listItems3 = new List<SelectListItem>();
                {
                    listItems3.Add(new SelectListItem
                    {
                        Text = "All",
                        Value = "0",
                        Selected = true
                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "With Image",
                        Value = "1"
                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Without Image",
                        Value = "2"
                    });


                }
            }
            @Html.DropDownList("ddlimage", new SelectList(listItems3, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Start Date:</label>
            @Html.TextBox("StartDate", startdate, new { @class = "form-control datepikerbaground", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>End Date:</label>
            @Html.TextBox("EndDate", enddate, new { @class = "form-control datepikerbaground", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="pull-left">
            <button type="button" class="btn btn-primary btnadd" onclick="return addEvent();">Create Event</button>
        </div>
    </div>
</div>
<input type="hidden" name="FirstEventid" id="FirstEventid" value="0" />
<table class="table  table-responsive table-bordered" id="tbltestimonial">
    <thead>
        <tr>
            <th><input id="checkbox2" type="checkbox"></th>
            <th>Image</th>
            <th>Category Name</th>
            <th>Event Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th data-eventid="" align="center">Edit</th>
            <input type="file" name="UploadImage" id="UploadImage" style="display:none;" />

        </tr>
    </thead>
</table>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Category</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        Category:

                        @Html.DropDownList("CategoryDDL", new SelectList(MusicEventAPI.Areas.Admin.Repository.ConstantRepository.GetListCategory(), "CategoryID", "CategoryName"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" id="btnupdatecategory" class="btn btn-default pull-right" data-dismiss="modal">Update</button>

                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
                </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    var $tbltestimonialtab = null;

    $('#checkbox2').on('click', function () {
        // Check/uncheck all checkboxes in the table
        var rows = $tbltestimonialtab.rows({ 'search': 'applied' }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });


    $('#tbltestimonial').on("click", '.clsimage', function () {
        $("#FirstEventid").val($(this).attr("data-eventid"))
        $("#UploadImage").click();
    })

    $('#tbltestimonial').on('click', '.clstablecategory', function (e) {

        $("#FirstEventid").val($(this).attr("data-eventid"))
        $('#myModal').modal('toggle');
    })

    $("#btnupdatecategory").click(function () {
        var eventid = "";
        $("input:checkbox[name=checkboxcheck]:checked").each(function () {

            eventid = eventid + $(this).attr("data-eventid") + ','
        });

        if (eventid == "") {
            eventid = $("#FirstEventid").val();
        }
        var data = new FormData();
        data.append("Eventid", eventid);
        data.append("CategoryDDL", $("#CategoryDDL").val());

        var options = {};
        options.url = "/Admin/Event/ChangeCategory";
        options.type = "POST";
        options.data = data;
        options.contentType = false;
        options.processData = false;
        options.success = function (result) {
            //$tbltestimonialtab.ajax.reload();
            $tbltestimonialtab.ajax.reload(null, false)

        };
        options.error = function (err) { };

        $.ajax(options);

        //evt.preventDefault();
    })

    $("#UploadImage").change(function (evt) {

        // var fileInput = document.getElementById("filetransfer");
        var max_size = 100000000;
        var fileUpload = $("#UploadImage").get(0);
        var files = fileUpload.files;

        if (files.length != 0) {

            var Extension = fileUpload.files[0].name.substring(
                       fileUpload.files[0].name.lastIndexOf('.') + 1).toLowerCase();
            if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                        || Extension == "jpeg" || Extension == "jpg") {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {

                    data.append(files[i].name, files[i]);
                }

                var eventid = "";
                $("input:checkbox[name=checkboxcheck]:checked").each(function () {

                    eventid = eventid + $(this).attr("data-eventid") + ','
                });

                if (eventid == "") {
                    eventid = $("#FirstEventid").val();
                }
                data.append("Eventid", eventid);

                var options = {};
                options.url = "/Admin/Event/ChangeImage";
                options.type = "POST";
                options.data = data;
                options.contentType = false;
                options.processData = false;
                options.success = function (result) {
                    $tbltestimonialtab.ajax.reload();

                };
                options.error = function (err) { };

                $.ajax(options);

                evt.preventDefault();
            }
            else {
                alert("Only formats are allowed : jpeg,jpg,gif,png,bmp");
            }
        }

    });
    $(document).ready(function () {

        $tbltestimonialtab = $('#tbltestimonial').DataTable({
            "bServerSide": true,
            "bProcessing": true,
            "sDom": "<'row'tpr>",
            "bPaginate": true,
            "bLengthChange": false,
            "pagingType": "full_numbers",
            "sAjaxSource": "/Admin/Event/ManageEventSearchList",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "role", "value": $("#ddlConsulatnt").val() });
                aoData.push({ "name": "StartDate", "value": $("#StartDate").val() });
                aoData.push({ "name": "EndDate", "value": $("#EndDate").val() });
                aoData.push({ "name": "Keyword", "value": $("#Keyword").val() });
                aoData.push({ "name": "imagesvalue", "value": $("#ddlimage").val() });
                $.getJSON(sSource, aoData, function (json) {
                    fnCallback(json)
                });
            },
            "order": [[1, "Asc"]],
            "iDisplayLength": 20,
            "columns": [
                {
                    "aTargets": [0], "sName": "", "bSortable": false,
                    "render": function (row, type, val, meta) {
                        var Link = '';

                        Link = '<input name="checkboxcheck" class="checkboxselect" type="checkbox" data-eventid ="' + val[9] + '"  >';
                        return Link;
                    }
                },
            {
                "aTargets": [1], "sName": "Images", "bSortable": false,
                "render": function (row, type, val, meta) {
                    var Link = '';

                    Link = ' <img class="clsimage" src="' + val[1] + '" data-eventid ="' + val[9] + '" onError="this.onerror = null; this.src = "../Content/Image/NoImage.png" alt="image" height="25" width="25" />';
                    return Link;
                }
            },
            {
                "aTargets": [2], "sName": "CategoryName", "bSortable": true,
                "render": function (row, type, val, meta) {
                    var Link = '';

                    Link = '<span  data-eventid ="' + val[9] + '"  class="clstablecategory">' + val[2] + '</span>';
                    return Link;
                }
            },
            {
                "aTargets": [3], "sName": "EventName", "bSortable": true,
                "render": function (row, type, val, meta) {
                    var Link = '';

                    Link = '<a target="_blank" href="' + (val[8] == '' ? 'Javascript:void(0)' : val[8]) + '" >' + val[3] + '</a>';
                    return Link;
                }
            }
            , { "aTargets": [4], "sName": "StartDate", "bSortable": true, }
           , { "aTargets": [5], "sName": "EndDate", "bSortable": true, }
             , { "aTargets": [6], "sName": "latitude", "bSortable": true, }
           , { "aTargets": [7], "sName": "longitude", "bSortable": true, }
           , {
               "aTargets": [8], "sName": "", "bSortable": false,
               "render": function (row, type, val, meta) {
                   var Link = '';

                   Link = '<a onclick="return edit(' + val[9] + ');" title="Edit"> <i class="glyphicon glyphicon-edit"></i> </a>';
                   return Link;
               }
           }

            ],
        });

        //$tbltestimonialtab = $('#tbltestimonial').DataTable({

        //    "ajax": {
        //        "url": "/Admin/Event/loaddata",
        //        "type": "GET",
        //        "datatype": "json",
        //        "data": function (d) {
        //            d.StartDate = $("#StartDate").val();
        //            d.EndDate = $("#EndDate").val();
        //            d.role = $("#ddlConsulatnt").val();
        //        }
        //        //"data": $("#hdnUserID").val()
        //    },
        //    "bLengthChange": false,
        //    "columns": [

        //             { "data": "EventID", "autoWidth": true },
        //             { "data": "CategoryName", "autoWidth": true },
        //             { "data": "EventName", "autoWidth": true },
        //             { "data": "StartDate", "autoWidth": true },
        //             { "data": "EndDate", "autoWidth": true },

        //    ],
        //    "language": {
        //        "emptyTable": "<div class='row'><div class='col-md-12'><div class='alert alert-danger'><p><strong>No record found.</strong></p> </div></div>"
        //    }
        //});
    });
    function edit(id) {
        window.location.href = '/Admin/Event/Manage?id=' + id
    }
    $("#ddlimage").change(function () {

        $tbltestimonialtab.ajax.reload();
    })
    $("#ddlConsulatnt").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    $("#StartDate").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    $("#EndDate").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    $("#Keyword").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    $("#Keyword").keypress(function () {
        $tbltestimonialtab.ajax.reload();
    })
    function addEvent() {
        window.location.href = '/Admin/Event/Manage';
    }
</script>


<script>
    $('#StartDate').datepicker({
        dateFormat: 'dd-M-yy',
        setDate: '+0d',
        onSelect: function (date) {
            var endDate = $('#EndDate');
            var startDate = $(this).datepicker('getDate');
            var minDate = $(this).datepicker('getDate');
            endDate.datepicker('setDate', minDate);
            startDate.setDate(startDate.getDate() + 30);
            //    endDate.datepicker('option', 'maxDate', 0);
            endDate.datepicker('option', 'minDate', minDate);
        }
    });
    $("#EndDate").datepicker({
        dateFormat: 'dd-M-yy',
        setDate: '+1m'
    });
</script>