﻿@model MusicEventAPI.Areas.Admin.Models.NewEvent1
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var seconds = 5;
                setTimeout(function () {
                    document.getElementById("lblmessage").style.display = "none";
                }, seconds * 1000);
            };
        </script>
    }
}
<style>
    form#myformid {
        float: left;
        width: 100%;
        padding: 15px;
    }

    .radio-list label input {
        float: left;
    }

    .no-space label input {
        float: left;
    }

    .panel-collapse {
        padding: 10px;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #fff;
        opacity: 1;
    }

    .select2-container .select2-selection--single {
        height: 34px;
    }

    .datepikerbaground {
        background: url(../../Content/Image/calander.png);
        background-repeat: no-repeat;
        background-position: right;
        cursor: pointer;
        padding-left: 5px;
        border-radius: 4px !important;
    }

    .astricred {
        color: red;
        font-size: 17px;
    }
</style>


<link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="../../JS/bootstrap-datetimepicker.js"></script>
<section class="content-header">
    @if (Model.EventID == 0)
    {<h1>Add Event<small></small></h1>
    }
    else
    {
        <h1>Edit Event <small></small></h1>
    }
    <ol class="breadcrumb">
        <li><a href="/Admin/Event"><i class="fa fa-dashboard"></i> Event</a></li>
        <li class="active">Manage</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <link href="../../css/jquery-ui.css" rel="stylesheet" />
    <link href="../../css/hint-tooltip.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrvLg0UItSRcIglgt_Ldz4ILsP6gCmQ78&libraries=places"></script>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="col-md-12 no-space" role="alert" id="lblmessage">
            <div class='@TempData["SuccessMessage"]'><strong>@TempData["SuccessMessage"]</strong></div>
        </div>
    }

    <div class="box box-primary">

        <div class="box-body">
            @using (Html.BeginForm("Manage", "Event", FormMethod.Post, new { enctype = "multipart/form-data", @id = "testimonial_form" }))
            {
                @*<form role="form" action="#">*@
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>Category</b><span class="astricred">*</span>
                                @Html.DropDownListFor(model => model.CategoryID, new SelectList(MusicEventAPI.Areas.Admin.Repository.ConstantRepository.GetListCategory(), "CategoryID", "CategoryName"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>Name</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.EventID, new { @style = "display:none;" })
                                @Html.TextBoxFor(model => model.EventName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.EventName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>StartDate</b><span class="astricred">*</span>
                                @Html.TextBox("StartDate", Model.StartDate, "{0:dd-MMMM-yyyy hh:mm tt}", new { @class = "form-control datepikerbaground", @readonly = "readonly" })
                                @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>EndDate</b><span class="astricred">*</span>
                                @Html.TextBox("EndDate", Model.EndDate, "{0:dd-MMMM-yyyy hh:mm tt}", new { @class = "form-control datepikerbaground", @readonly = "readonly", @onchange = "checkenddate();" })
                                @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-2">
                                <div class="form-group">
                                    Latitude
                                    @Html.TextBoxFor(model => model.latitude, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(o => o.latitude, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    Longitude
                                    @Html.TextBoxFor(model => model.longitude, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(o => o.longitude, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>Latitude</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.latitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.latitude, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>Longitude</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.longitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.longitude, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Get Latitude / Longitude From Google</b>
                                @Html.TextBox("addresslat", "", new { @class = "form-control" })
                                <script>
                                    var autocomplete = new google.maps.places.Autocomplete($("#addresslat")[0], {});

                                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                                        var place = autocomplete.getPlace();
                                        $("#latitude").val(place.geometry.location.lat())
                                        $("#longitude").val(place.geometry.location.lng())
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <b>Discription</b><span class="astricred">*</span>
                                @Html.TextAreaFor(model => model.EventDiscription, new { @class = "form-control", @rows = 5 })
                                @Html.ValidationMessageFor(o => o.EventDiscription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <b>Address</b><span class="astricred">*</span>
                                @Html.TextAreaFor(model => model.location, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.location, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <b>URL</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.TicketUrl, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.TicketUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.ISActive, new { @checked = "checked" }) <strong> Is Active</strong></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.IsTmaster) <strong> Is Tmaster</strong></label>
                    </div>



                    <div class="col-md-12 col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <b>Image Upload</b>
                                    @Html.TextBox("Image", null, new { @id = "txtfileupload1", @type = "file", @class = "form-control" })<span style="float:right;margin-top:5px;margin-right:0px;"><a class="hint--top  hint--animate" style="max-width:300px;" data-hint="Please upload image here"><i class="glyphicon glyphicon-question-sign"></i></a></span>

                                    <div id="dvPreview1" style="min-height: 100px;min-width: 100px;max-height: 100px;max-width: 100px;margin-top:10px;border:1px solid #ccc;display:block;">
                                        @if (Model.Image != null)
                                        {
                                            <img src="@(MusicEventAPI.Utility.ImagePath.GetimagePath(Model.Image, HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")))" onError="this.onerror = null; this.src = '../../Content/Image/NoImage.png'" alt="image" height="100" width="100" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">

                                <button type="button" onclick="javascript:history.back()" class="btn btn-default pull-right">Cancel</button>
                                <button type="submit" style="margin-right: 10px;" class="btn btn-success pull-right">@(Model.EventID == 0 ? "Create" : "Update")</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
    //var sdate=   $('#StartDate').datepicker({
    //    dateFormat: 'dd-M-yy',
    //    changeMonth: true,
    //    changeYear : true,
    //       setDate: '+0d',
    //       onSelect: function (date) {
    //           var endDate = $('#EndDate');
    //           var startDate = $(this).datepicker('getDate');
    //           var minDate = $(this).datepicker('getDate');
    //           endDate.datepicker('option', 'minDate', $(this).datepicker('getDate'));
    //           endDate.datepicker('setDate', minDate.setDate(minDate.getDate() + 30));
    //           //endDate.setMonth(sdate.getMonth() + 1);
    //           //startDate.setDate(startDate.getDate() + 30);
    //           //    endDate.datepicker('option', 'maxDate', 0);

    //       }
    //   });
    // var Edate=  $("#EndDate").datepicker({
    //       dateFormat: 'dd-M-yy',
    //       setDate: '+1m',
    //       changeMonth: true,
    //       changeYear: true
    //   });
   
    $(document).ready(function () {

        $("#testimonial_form").submit(function () {
            if ($("#CategoryID").val() == '') {
                swal("Error!", "Please Select CategoryID.", "error")
                return false;
            }
            if ($("#EventName").val() == '') {
                swal("Error!", "Please Enter Event Name .", "error")
                return false;
            }
            if ($("#latitude").val() == '') {
                swal("Error!", "Please Enter latitude.", "error")
                return false;
            }
            if ($("#longitude").val() == '') {
                swal("Error!", "Please Enter longitude.", "error")
                return false;
            }
            if ($("#StartDate").val() == '') {
                swal("Error!", "Please Enter Start Date.", "error")
                return false;
            }
            if ($("#EndDate").val() == '') {
                swal("Error!", "Please Enter End Date.", "error")
                return false;
            }
            var dtstart = $("#StartDate").val();
            var dtend = $("#EndDate").val();
            var hours = (Math.abs(new Date(dtend) - new Date(dtstart)) / 36e5);
            if (Date.parse(dtend) < Date.parse(dtstart)) {
                swal("Error!", "End Date Should be Bigger than Start Date", "error");
                return false;
            }
            if (hours > 24) {
                swal("Error!", "End Date Time should not be gretter than 24 hours", "error");
                return false;
            }
            else if ($("#Discription").val() == '') {
                swal("Error!", "Please Enter Discription.", "error")
                return false;
            }
            else if ($("#Address").val() == '') {
                swal("Error!", "Please Enter Address.", "error")
                return false;
            }
            if ($("#TicketUrl").val() != '') {
                return isValidUrl($("#TicketUrl").val());
            }


        });
    })
    //var dtstart = $("#StartDate").val();
    //var dtend = $("#EndDate").val();
    //var timeDiff = Math.abs(Date.parse(dtend).getTime() - Date.parse(dtstart).getTime());
    //var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
    //alert(diffDays);
    //var DatetimeSlot1 = new Date($("#meetingdate1").val());
    //var hours = Math.abs(DatetimeSlot1 - CurrentDatetime) / 36e5;
    //if (hours < 72) {
    //    document.getElementById("lbls").style.display = 'block';
    //    document.getElementById("lbls").innerHTML = 'All selected time slots MUST be 72 hours or more ahead of your current local time.';
    //    return false;
    function checkenddate() {
        var dtstart = $("#StartDate").val();
        var dtend = $("#EndDate").val();
        var hours = (Math.abs(new Date(dtend) - new Date(dtstart)) / 36e5);
        if (Date.parse(dtend) < Date.parse(dtstart)) {
            swal("Error!", "End Date Should be Bigger than Start Date", "error");
            return false;
        }
        if(hours>24)
        {
            swal("Error!", "End Date Time should not be gretter than 24 hours", "error");
            return false;
        }
    }
    function isValidUrl(url) {

        var myVariable = url;
        if (/(^|\s)((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/.test(myVariable)) {
            return true;
        } else {
            return false;
        }
    }
    var dateToday = new Date();
    $("#StartDate").datetimepicker({
        format: "dd-MM-yyyy HH:ii P",
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        onSelect: function (selected) {
            $('#EndDate').datetimepicker("option", "minDate", selected);
        }
    });
    $("#EndDate").datetimepicker({
        format: "dd-MM-yyyy HH:ii P",
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        onSelect: function (selected) {
            $('#StartDate').datetimepicker("option", "maxDate", selected);
        }
    });
    //$('#StartDate').datepicker({
    //    dateFormat: 'dd-M-yy',
    //    changeMonth: true,
    //    changeYear: true,
    //    setDate: '+0d',
    //});
    //$('#EndDate').datepicker({
    //    dateFormat: 'dd-M-yy',
    //    changeMonth: true,
    //    changeYear: true,
    //    setDate: '+1m',
    //});
    //$('#StartDate').datepicker().bind("change", function () {
    //    var minValue = $(this).val();
    //    minValue = $.datepicker.parseDate("dd-M-yy", minValue);
    //    $('#EndDate').datepicker("option", "minDate", minValue);
    //});
    //$('#EndDate').datepicker().bind("change", function () {
    //    var maxValue = $(this).val();
    //    maxValue = $.datepicker.parseDate("dd-M-yy", maxValue);
    //    $('#StartDate').datepicker("option", "maxDate", maxValue);
    //});


    $(function () {
        $("#txtfileupload1").change(function () {
            $("#dvPreview1").html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                {

                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview1").show();
                        $("#imgee1").hide();
                        $("#dvPreview1").append("<img height='150' width='150'/>");
                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $("#dvPreview1 img").attr("src", e.target.result);

                        }

                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        swal("Error!", "This browser does not support FileReader.", "error")
                    }
                }
            } else {
                swal("Error!", "Please upload a valid image file.", "error")
                document.getElementById("txtfileupload1").value = "";
            }
        });
    });
</script>
