﻿@model MusicEventAPI.Areas.Admin.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
}

<style>
    form.chngpassword {
        background: #fff;
        float: left;
        padding: 10px 0px;
        padding-bottom: 50px;
    }

    .chngpassword h4 {
        padding-left: 15px;
    }

    form.chngpassword input {
        border: 1px solid #d4d8df;
        padding: 8px;
        line-height: 26px;
        height: 34px;
        margin-bottom: 13px;
    }

    #btnchnagePassword {
        background: #80bd01 none repeat scroll 0 0;
        border: 0 none;
        border-radius: 3px;
        color: #ffffff;
        float: left;
        font-size: 15px;
        margin-left: -8px;
        margin-top: 7px;
        padding: 6px 30px;
        box-shadow: 1px 1px 3px 3px #ededed;
    }
    .astricred{
        color:red;
        font-size:17px;
    }
    @@media (max-width:767px) {
        .chngpassword label.col-md-3.col-sm-4 {
            padding-left: 0px;
            width: 100%;
        }
    }
</style>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "chngpassword", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <hr />
    @Html.ValidationSummary(true)
    @*@Html.ValidationSummary("", new { @style = "color: #FF0000;margin-left: 30px;" })*@

    <div class="col-md-12 col-xs-12 clo-xs-12">
        <label class="col-md-3 col-sm-4">Current password<span class="astricred">*</span></label>
        @Html.PasswordFor(m => m.OldPassword)
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @style = "color: #FF0000;", placeholder = "Enter password" })

    </div>

    <div class="col-md-12 col-xs-12">

        <label class="col-md-3 col-sm-4 clo-xs-12">New password<span class="astricred">*</span></label>
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @style = "color: #FF0000;", placeholder = "Enter password" })
    </div>

    <div class="col-md-12 col-xs-12">
        <label class="col-md-3 col-sm-4 clo-xs-12">Confirm password<span class="astricred">*</span></label>
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @style = "color: #FF0000;", placeholder = "Enter password" })

    </div>

    <div class="col-md-offset-3 col-sm-offset-4 col-md-10">
        <button type="submit" id="btnchnagePassword" value="Change password">Change password</button>
    </div>

}
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

