﻿.table-responsive {
    width: 100% !important;
}

.form-group.customs input#CategoryColor {
    float: left;
    width: 85%;
    margin-right: 15px;
}

.form-group.customs {
    float: left;
    width: 100%;
}

    .form-group.customs span {
        float: left;
        width: 100%;
    }

div#divColor {
    float: left;
    margin: 0px !important;
}
