﻿div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    border: 1px solid #ccc;
    padding: 7px 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #ccc;
}

.select_rol {
    float: left;
    width: 50%;
    padding-right: 2%;
}

.create_button {
    float: right;
    width: 50%;
    text-align: right;
}

div#tbltestimonial_wrapper {
    margin-top: 10px;
}

select#ddlrole {
    display: inline-block;
    width: calc(100% - 70px );
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 7px 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #ccc;
}

.dataTables_filter input {
    width: calc(100% - 70px) !important;
}

div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    width: 50% !important;
    padding-right: 1%;
}

.centerc {
    text-align: center;
}

/*.dataTables_filter {
    text-align: left !important;
}*/
div#tbltestimonial_wrapper {
    width: 100%;
    overflow: auto;
    /*overflow-x: hidden;*/
    float: left;
}
.no-margin2{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
form#myformid {
    float: left;
    width: 100%;
    padding: 10px;
}
.msg_cover {
    width: 100%;
    float: left;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
}
/*.row.margin-top-10 {
    float: left;
    width: 100%;
}*/


.divmsg {
    max-height: 500px;
    width: 100%;
    float: left;
    overflow: auto;
        padding: 10px;
}
.msg_cover.reply {
    width: 87%;
    float: right;
    border: none;
    background-color: #ececec;
    position: relative;
}
.assign-wrap {
    width: 100%;
    float: left;
    border: 1px solid #ececec;
    padding: 0px 20px 20px;
    margin-top: 25px;
}
.my-margin{
    margin-top: 10px;
    margin-bottom: 10px
}
.msg_cover.reply:before {
    content: "";
    background-image: url(/images/reply-right-arrow.png);
    position: absolute;
    left: -100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
   background-position: center;
    background-size: 30px;
        background-color: #2d3e50;
}
.my-margin2{
    margin-top: 10px;
}
.minus{
    margin-left: -15px;
}
.infoiconcls {
    background-image: url(/images/information.png);
    background-size: 20px;
    background-repeat: no-repeat;
    right: 0;
    padding: 0px 30px 0px 0px;
    background-position: right center;
}
.no-space {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.spnisinternal h6 {
    width: auto;
    float: left;
    font-weight: bold;
    font-size: 15px;
}
input#IsInternal {
    width: 20px;
    margin: 0px;
    float: left;
}
.spnisinternal{
    width: 100%;
    float:left;
    display: flex;
    align-items: center
}
.ddlselect2 {

}
#btnassign{
    width: 100%;
}
.info_main {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.info_main > label {
    color: #2d3e50;
    float: left;
    line-height: 34px;
    width: 20%;
}
.info_main > input[type="text"], .info_main textarea {
    height: 40px;
    width: 80%;
    padding-left: 10px;
    outline: none;
    border: 1px solid #ccc;
}
.info_main label em {
    color: #f00;
}
.info_main.mobile > input.code {
    margin-right: 1%;
    width: 10%;
}
.info_main.mobile > input {
    width: 69%;
    float: left;
    border-radius: 0;
}
.date_selection {
    float: left;
    width: 80%;
}
.info_main .date_selection select {
    margin-right: 2%;
    width: 31.3%;
    margin-left: 0;
}
.info_main .date_selection select, .info_main > select {
    background: #fff url(../../images/black_down.png) no-repeat scroll right 10px center / 10px 10px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #ccc;
}
.info_main > select {
    height: 40px;
    padding-left: 10px;
    width: 30%;
    outline: none;
}
.date_selection select {
    float: left;
    height: 40px;
    margin-left: 2%;
    width: 31.3%;
}
.panel_inner h4 {
    float: left;
    width: 100%;
    color: #ff6f1f;
    margin-bottom: 10px;
}
.panel_inner input {
    height: 40px;
    padding: 7px 10px;
}
.panel_inner table {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.panel_inner tr {
    border: 1px solid #ccc;
}
.panel_inner th, .panel_inner td {
    border: 1px solid #ccc;
    text-align: center;
        padding: 10px 0px;
}
.panel_inner td input[type="text"] {
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
}
.panel_inner td {
    padding: 5px 10px 5px 10px;
}
.table_link span {
    float: left;
    color: #f00;
}
.panel_inner span {
   /* margin: 2px 20px 0 7px;*/
    
    /*width: 100%;*/
}
.table_link {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.table_link a {
    float: left;
    padding: 10px 50px;
    background: #ff6f1f;
    margin-right: 10px;
    color: #fff;
}
.checkboxNew.chk_33 {
    font-size: 12px;
}
.checkboxNew {
    float: left;
    width: 25%;
    margin-bottom: 5px;
}
.checkboxNew label {
    font-size: 12px;
    line-height: 26px;
}
.checkboxNew input, .chk_group input, input[type=checkbox], input[type=radio] {
    height: auto;
}
.other-btn {
    width: 100%;
    float: left;
}
.chk_medical {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.chk_group h5 {
    color: #ff6f1f;
}
.chk_group h5 {
    float: left;
    width: 100%;
    margin: 10px 0;
    font-weight: normal;
}
.chk_group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.cls-remove-border{
    border-bottom:none !important;
}
.panel-heading {
    width: 100%;
    float: left;
}
.chk_33 {
    float: left;
    width: 33.3%;
}
.panel_inner input[type="radio"] {
    float: left;
}
.panel_inner span {
    margin-left: 6px;
    float:right;
   
}
.checkboxNew input, .chk_group input, input[type=checkbox], input[type=radio] {
    height: auto;
}
.accordion_btn {
    display: table;
    float: right;
        padding: 0px 20px;
}
.accordion_btn button {
    background: #ff6f1f;
    border: 0;
    padding: 10px 20px;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;

    border-radius: 4px;
}

.accordion_btn button.btn_send {
    background: #2d3e50;
}
.profile_page {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 10px;
}

.profile_page {
    float: left;
    width: 100%;
}
.profile_image {
    text-align: center;
}

.profile_image {
    float: left;
    width: 100%;
}
img#profileimage {
    padding: 0;
    border-radius: 50%;
    border: 3px solid #2d3e50;
    margin: 0 auto;
    display: table;
    float: none;
    height: 200px;
    width: 200px;
}
.profile_content {
    float: left;
    width: 100%;
}
.content2 {
    float: left;
    width: 100%;
    padding: 5px 0;
}
.content2 > span {
    float: left;
    width: 50%;
    font-size: 15px;
    color: #2d3e50;
}
.content2 > span:last-child {
    float: right;
    text-align: right;
    width: 50%;
}
.content2 > span {
    float: left;
    width: 50%;
    font-size: 15px;
    color: #2d3e50;
}
ul.content_popup li {
    float: none;
    width: 24%;
    text-align: center;
    padding: 0 0px;
    display:inline-block;
}
ul.content_popup li a {
    height: 35px;
    width: 35px;
    border: 2px solid #dbe1e7;
    line-height: 31px;
    display: inherit;
    margin: 0 auto;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
    background: #ff6f1f;
}
ul.content_popup li:nth-child(2n) a {
    background: #2d3e50;
}
ul.content_popup li:nth-child(3n) a {
    background: #86553a;
}
.panel with-nav-tabs panel-primary a {
    background: #ff6f1f;
}
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
    transition: 0.3s;
}
div.panel2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 10px;
}
div.panel2.show {
    opacity: 1;
    max-height: 100%;
}

.btncloseRequest {
    margin-right: 10px;
    float: left;
}
.btn-right{
        width: 100%;
    float: left;
}
.btn-3right form {
    float: left;
}
.v-space label{
    padding: 10px 0px;
}
.col-lg-2.col-md-4.col-sm-4.col-xs-6.margin-top-5.margin-bottom-5 {
    margin-bottom: 10px;
}
.clspullright span {
    float: right;
}
label.lblfontnormal {
        font-weight: normal;
}
.assign-wrap.mode_communication1 {
    min-height: 200px;
}
.assign-wrap.mode_communication1 .clsh2{
        padding-bottom: 25px;
}
.check_box.col-md-4.col-xs-12 {
    margin-bottom: 10px;
}
button.add_wrap {
    padding: 0;
    width: 50%;
    border-radius: 5px;
    height: 40px;
    border: none;
    background-color: #ff6f1f;
    color: #fff;
}
#tbltestimonial_wrapper::-webkit-scrollbar {
    display:none !important;
}