@media (max-width: 1900px) {
    .btncloseRequest {
    margin-bottom: 10px;
}
}
@media (max-width: 1550px) {

    /*.msg_cover.reply:before {
    content: "";
    background-image: url(/images/reply-right-arrow.png);
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: #2d3e50;
}*/
    .msg_cover.reply:before {
    content: "";
    background-image: url(/images/reply-right-arrow.png);
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
}
    .info_main .date_selection select, .info_main > select{
        margin-right:5px;
    }
}

@media (max-width: 1200px){
    .checkboxNew {
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
    .chk_33 {
    float: left;
    width: 50%;
}
	.create_button.col-xs-12 {
    margin-top: 10px;
    text-align: center;
}
#tbltestimonial_filter label{
		width: 100% !important
	}

}
@media (min-width: 991px) and (max-width: 1300px){
    button.add_wrap {
    padding: 0;
    width: 100%;
}
@media (max-width: 1024px){
    .btncloseRequest {
    margin-bottom: 10px;
    
    float: left;
}
.my-btn {
    width: 32.333%;
    margin-bottom: 10px!important;
}
.create_button.col-xs-12 {
    margin-top: 10px;
}
#tbltestimonial_filter label{
		width: 100% !important
	}
	div#tbltestimonial_wrapper {
		width: 100%;
		overflow: scroll;
	}
}

@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
     text-align: left; 
}
}
@media (min-width: 768px) and (max-width: 991px){
	#btnclose{
	float: right;
	margin-bottom: 10px;
	margin-top: 10px
}
#btnreturn{
	float: left;
}
}
@media screen and (max-width: 767px){
  
.chk_33 {
    float: left;
    width: 100%;
}
.panel_inner span {
    margin-left: 10px;
    float: none;
}

div.dataTables_wrapper > div.row > div, div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
     text-align: unset; 
}
}
@media (max-width: 500px) {
      button.add_wrap {
        padding: 0;
        width: 100%;
    }

    .msg_cover.reply:before {
        content: "";
        background-image: url(/images/reply-right-arrow.png);
        position: absolute;
        left: -30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
    }

    body div#tbltestimonial_filter {
        text-align: right !important;
    }

    div.dataTables_filter {
        text-align: right !important;
    }

    .my-margin2 {
        margin-top: 0px;
    }

    #btnclose {
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .btncloseRequest {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
}

@media (max-width: 425px){
	.my-btn {
		width: 100%;
		margin-bottom: 10px!important;
	}
	.create_button.col-xs-12 {
		margin-top: 10px;
	}
	#tbltestimonial_filter label{
		width: 100% !important
	}
	div#tbltestimonial_wrapper {
		width: 100%;
		overflow: scroll;
	}
	form#myformid {
    float: left;
    width: 100%;
    padding: 0px;
}
    
}
