﻿<div class="row">
    @if (TempData["message"] != null)
    {
<script type="text/javascript">
            window.onload = function () {
                var seconds = 5;
                setTimeout(function () {
                    document.getElementById("lblmessage").style.display = "none";
                }, seconds * 1000);
            };
</script>
    }
    @{
        string startdate = DateTime.Now.AddMonths(-6).ToString("dd-MMM-yyyy");
        string enddate = DateTime.Now.AddMonths(6).ToString("dd-MMM-yyyy");
    }
    <link href="../../css/jquery-ui.css" rel="stylesheet" />
    <script src="../../JS/jquery-ui.js"></script>
    <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: #fff;
            opacity: 1;
        }

        .select2-container .select2-selection--single {
            height: 34px;
        }

        .datepikerbaground {
            background: url(../../Content/Image/calander.png);
            background-repeat: no-repeat;
            background-position: right;
            cursor: pointer;
            padding-left: 5px;
            border-radius: 4px !important;
        }
        .btnadd {
            margin-top: 24px;
        }
        /* .dt-button {
            background:#337ab7 !important
        }*/
    </style>
    @{
        List<SelectListItem> listItems3 = new List<SelectListItem>();
        {
            listItems3.Add(new SelectListItem
            {
                Text = "All",
                Value = "0",
                Selected = true
            });
            listItems3.Add(new SelectListItem
            {
                Text = "Active",
                Value = "1"
            });
            listItems3.Add(new SelectListItem
            {
                Text = "In-Active",
                Value = "2"
            });


        }
    }
    <div class="col-md-3">
        <div class="form-group">
            <label>Status:</label>
            @Html.DropDownList("ddlConsulatnt",listItems3, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Start Date:</label>
            @Html.TextBox("StartDate", startdate, new { @class = "form-control datepikerbaground", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>End Date:</label>
            @Html.TextBox("EndDate", enddate, new { @class = "form-control datepikerbaground", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="pull-left">
            <button type="button" class="btn btn-primary btnadd" onclick="return addAdvertise();">Add Advertise</button>
        </div>
    </div>
</div>
<table class="table  table-responsive table-bordered" id="tbltestimonial">
    <thead>
        <tr>
            <th>Advertise ID</th>
            <th> Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Phone No</th>
            <th>Is Active</th>
            <th align="center">Edit</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    var $tbltestimonialtab = null;
    $(document).ready(function () {

        $tbltestimonialtab = $('#tbltestimonial').DataTable({

            "ajax": {
                "url": "/Admin/Advertise/loaddata",
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    d.StartDate = $("#StartDate").val();
                    d.EndDate = $("#EndDate").val();
                    d.status = $("#ddlConsulatnt").val();
                }
                //"data": $("#hdnUserID").val()
            },
            "bLengthChange": false,
            "columns": [

                     { "data": "Id", "autoWidth": true },
                     { "data": "Name", "autoWidth": true },
                     { "data": "StartDate", "autoWidth": true },
                     { "data": "EndDate", "autoWidth": true },
                     { "data": "PhoneNo", "autoWidth": true },
                          {

                              "aTargets": [6], "sName": "", "bSortable": false, "sClass": "centerc",
                              "render": function (data, type, row) {
                                  return row.IsActive == true ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'
                              }
                          },
                               {
                                   "aTargets": [5], "sName": "", "bSortable": false, "sClass": "centerc",
                                   "render": function (data, type, row) {
                                       return '<a onclick="return edit(' + row.Id + ');" title="Edit"> <i class="glyphicon glyphicon-edit"></i> </a>'
                                   }
                               },

            ],
            "language": {
                "emptyTable": "<div class='row'><div class='col-md-12'><div class='alert alert-danger'><p><strong>No record found.</strong></p> </div></div>"
            }
        });
    });
    function edit(id) {
        window.location.href = '/Admin/Advertise/Manage?id=' + id + '';
    }

    $("#ddlConsulatnt").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    $("#StartDate").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    $("#EndDate").change(function () {
        $tbltestimonialtab.ajax.reload();
    })
    function addAdvertise() {
        window.location.href = '/Admin/Advertise/Manage';
    }
</script>


<script>
    $('#StartDate').datepicker({
        dateFormat: 'dd-M-yy',
        setDate: '+0d',
        //onSelect: function (date) {
        //    var endDate = $('#EndDate');
        //    var startDate = $(this).datepicker('getDate');
        //    var minDate = $(this).datepicker('getDate');
        //    endDate.datepicker('setDate', minDate);
        //    startDate.setDate(startDate.getDate() + 30);
        ////    endDate.datepicker('option', 'maxDate', 0);
        //    endDate.datepicker('option', 'minDate', minDate);
        //}
    });
    $("#EndDate").datepicker({
        dateFormat: 'dd-M-yy',
        setDate: '+1m'
    });
    $('#StartDate').datepicker().bind("change", function () {
        var minValue = $(this).val();
        minValue = $.datepicker.parseDate("dd-M-yy", minValue);
        $('#EndDate').datepicker("option", "minDate", minValue);
    });
    $('#EndDate').datepicker().bind("change", function () {
        var maxValue = $(this).val();
        maxValue = $.datepicker.parseDate("dd-M-yy", maxValue);
        $('#StartDate').datepicker("option", "maxDate", maxValue);
    });
</script>