﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";

}
<style>
    form#myformid {
        float: left;
        width: 100%;
        padding: 15px;
    }

    .radio-list label input {
        float: left;
    }

    .no-space label input {
        float: left;
    }

    .panel-collapse {
        padding: 10px;
    }
</style>

<link href="../../AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../AdminLTE/plugins/datatables/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="../../AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>

<section class="content-header">
    <h1>
        Advertise
        @*<small>Version 2.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Advertise"><i class="fa fa-dashboard"></i> Advertise</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">


    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    @if (TempData["message"] != null)
                    {
                        <div class="col-md-12 no-space" role="alert" id="lblmessage">
                            <div class='@TempData["class"]'><strong>@TempData["message"]</strong></div>
                        </div>
                    }
                    @*<h3 class="box-title">Display Testimonial</h3>*@
                </div>
                <div class="box-body">
                    @Html.Partial("~/Areas/Admin/Views/Advertise/_Advertise.cshtml")
                </div>
            </div>
        </div>
    </div>

</section>
