﻿@model MusicEventAPI.Areas.Admin.Entity.Advertisement
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var seconds = 5;
                setTimeout(function () {
                    document.getElementById("lblmessage").style.display = "none";
                }, seconds * 1000);
            };
        </script>
    }
}
<style>
    form#myformid {
        float: left;
        width: 100%;
        padding: 15px;
    }

    .radio-list label input {
        float: left;
    }

    .no-space label input {
        float: left;
    }

    .panel-collapse {
        padding: 10px;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #fff;
        opacity: 1;
    }

    .select2-container .select2-selection--single {
        height: 34px;
    }

    .datepikerbaground {
        background: url(../../Content/Image/calander.png);
        background-repeat: no-repeat;
        background-position: right;
        cursor: pointer;
        padding-left: 5px;
        border-radius: 4px !important;
    }
    .astricred{
        color:red;
        font-size:17px;
    }
    .btnadd {
        margin-top: 24px;
    }
</style>


<link href="../../css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrvLg0UItSRcIglgt_Ldz4ILsP6gCmQ78&libraries=places"></script>
<script src="../../JS/jquery-ui.js"></script>
<section class="content-header">
    @if (Model.Id == 0)
    {<h1>Add Advertise<small></small></h1>
    }
    else
    {
        <h1>Edit Advertise <small></small></h1>
    }
    <ol class="breadcrumb">
        <li><a href="/Admin/Advertise"><i class="fa fa-dashboard"></i> Advertise</a></li>
        <li class="active">Manage</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <link href="../../css/jquery-ui.css" rel="stylesheet" />
    <link href="../../css/hint-tooltip.css" rel="stylesheet" />

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="col-md-12 no-space" role="alert" id="lblmessage">
            <div class='@TempData["SuccessMessage"]'><strong>@TempData["SuccessMessage"]</strong></div>
        </div>
    }

    <div class="box box-primary">

        <div class="box-body">
            @using (Html.BeginForm("Manage", "Advertise", FormMethod.Post, new { enctype = "multipart/form-data", @id = "testimonial_form" }))
            {
                @*<form role="form" action="#">*@
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">

                                <b>Name</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.Id, new { @style = "display:none;" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <b>StartDate</b><span class="astricred">*</span>
                                @Html.TextBox("StartDate", Model.StartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepikerbaground", @readonly = "readonly" })
                                @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">

                                <b> EndDate</b><span class="astricred">*</span>
                                @Html.TextBox("EndDate", Model.EndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepikerbaground", @readonly = "readonly" })
                                @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">

                                <b> PhoneNo</b>
                                @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", maxlength = "10", onkeypress = "return IsNumeric(event);" })
                                @Html.ValidationMessageFor(o => o.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>Discount</b>
                                @Html.TextBoxFor(model => model.Discount, new { @class = "form-control", @type = "Number", @min = 0, @max = 100 })
                                @Html.ValidationMessageFor(o => o.Discount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>Latitude</b>
                                @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Latitude, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>Longitude</b>
                                @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Longitude, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Get Latitude / Longitude From Google</b>

                                @Html.TextBox("addresslat", "", new { @class = "form-control" })
                                <script>
                                    var autocomplete = new google.maps.places.Autocomplete($("#addresslat")[0], {});

                                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                                        var place = autocomplete.getPlace();
                                        $("#Latitude").val(place.geometry.location.lat())
                                        $("#Longitude").val(place.geometry.location.lng())
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <b>Discription</b><span class="astricred">*</span>
                                @Html.TextAreaFor(model => model.Discription, new { @class = "form-control", @rows = 5 })
                                @Html.ValidationMessageFor(o => o.Discription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <b>Address</b><span class="astricred">*</span>
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <b>URL</b><span class="astricred">*</span>
                                @Html.TextBoxFor(model => model.URL, new { @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.URL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.IsActive) <strong> Is Active</strong></label>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.IsGlobal) <strong> Is Global</strong></label>
                    </div>

                </div>

                <div class="col-md-12 col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>Image Upload</b>
                                @Html.TextBox("Image", null, new { @id = "txtfileupload1", @type = "file", @class = "form-control" })<span style="float:right;margin-top:5px;margin-right:0px;"><a class="hint--top  hint--animate" style="max-width:300px;" data-hint="Please upload image here"><i class="glyphicon glyphicon-question-sign"></i></a></span>

                                <div id="dvPreview1" style="min-height: 100px;min-width: 100px;max-height: 100px;max-width: 100px;margin-top:10px;border:1px solid #ccc;display:block;">
                                    @if (Model.ImagePath != null)
                                    {
                                        <img src="@("../../"+Model.ImagePath)" onError="this.onerror = null; this.src = '../../Content/Image/NoImage.png'" alt="image" height="100" width="100" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    <hr />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">

                                <button type="button" onclick="javascript:history.back()" class="btn btn-default pull-right">Cancel</button>
                                <button type="submit" style="margin-right: 10px;" class="btn btn-success pull-right">@(Model.Id == 0 ? "Create" : "Update")</button>
                            </div>
                        </div>
                    </div>

                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Enter Address</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            }
        </div>
    </div>
</section>
@*<script>
        var autocomplete = new google.maps.places.Autocomplete($("#addresslat")[0], {});

                google.maps.event.addListener(autocomplete, 'place_changed', function() {
                    var place = autocomplete.getPlace();
                    console.log(place.geometry.location.lat());
                       console.log(place.geometry.location.lng());
                });
    </script>*@

<script>
    //var sdate=   $('#StartDate').datepicker({
    //    dateFormat: 'dd-M-yy',
    //    changeMonth: true,
    //    changeYear : true,
    //       setDate: '+0d',
    //       onSelect: function (date) {
    //           var endDate = $('#EndDate');
    //           var startDate = $(this).datepicker('getDate');
    //           var minDate = $(this).datepicker('getDate');
    //           endDate.datepicker('option', 'minDate', $(this).datepicker('getDate'));
    //           endDate.datepicker('setDate', minDate.setDate(minDate.getDate() + 30));
    //           //endDate.setMonth(sdate.getMonth() + 1);
    //           //startDate.setDate(startDate.getDate() + 30);
    //           //    endDate.datepicker('option', 'maxDate', 0);

    //       }
    //   });
    // var Edate=  $("#EndDate").datepicker({
    //       dateFormat: 'dd-M-yy',
    //       setDate: '+1m',
    //       changeMonth: true,
    //       changeYear: true
    //   });

    $(document).ready(function () {

        $("#testimonial_form").submit(function () {
            debugger

            if ($("#Name").val() == '') {
                swal("Error!", "Please Enter Name.", "error")
                return false;
            }
            if ($("#StartDate").val() == '') {
                swal("Error!", "Please Enter Start Date.", "error")
                return false;
            }
            if ($("#EndDate").val() == '') {
                swal("Error!", "Please Enter End Date.", "error")
                return false;
            }
            if ($("#Discription").val() == '') {
                swal("Error!", "Please Enter Discription.", "error")
                return false;
            }
            if ($("#Address").val() == '') {
                swal("Error!", "Please Enter Address.", "error")
                return false;
            }
            if ($("#URL").val() != '') {
                return isValidUrl($("#URL").val());
            }


        });
    })
    function isValidUrl(url) {

        var myVariable = url;
        if (/(^|\s)((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/.test(myVariable)) {
            return true;
        } else {
            return false;
        }
    }
    $('#StartDate').datepicker({
        dateFormat: 'dd-M-yy',
        changeMonth: true,
        changeYear: true,
        setDate: '+0d',
    });
    $('#EndDate').datepicker({
        dateFormat: 'dd-M-yy',
        changeMonth: true,
        changeYear: true,
        setDate: '+1m',
    });
    $('#StartDate').datepicker().bind("change", function () {
        var minValue = $(this).val();
        minValue = $.datepicker.parseDate("dd-M-yy", minValue);
        $('#EndDate').datepicker("option", "minDate", minValue);
    });
    $('#EndDate').datepicker().bind("change", function () {
        var maxValue = $(this).val();
        maxValue = $.datepicker.parseDate("dd-M-yy", maxValue);
        $('#StartDate').datepicker("option", "maxDate", maxValue);
    });
    function IsNumeric(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        // Added to allow decimal, period, or delete


        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;


        return true;
    }

    $(function () {
        $("#txtfileupload1").change(function () {
            $("#dvPreview1").html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                {

                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview1").show();
                        $("#imgee1").hide();
                        $("#dvPreview1").append("<img height='150' width='150'/>");
                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $("#dvPreview1 img").attr("src", e.target.result);

                        }

                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        swal("Error!", "This browser does not support FileReader.", "error")
                    }
                }
            } else {
                swal("Error!", "Please upload a valid image file.", "error")
                document.getElementById("txtfileupload1").value = "";
            }
        });
    });
</script>
