﻿@media print {

    .chk_medical {
        float: left !important;
        width: 100% !important;
        margin-bottom: 30px !important;
    }

    div.checkboxNew {
        float: left !important;
        width: 25% !important;
        margin-bottom: 5px !important;
    }

    #fname {
        background: red !important;
    }
}
