﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">

        function preventBack() {
            alert(!1)
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };

    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>
