 @media(max-width:1366px) {
 	.header_bottom::after {
 		width: 35%;
 	}
 	.news_background_image img, .basic_price_back img {
 		max-width: 85%;
 	}
 	
 	.header_menu li
 	{
 		padding:0 5px;
 	}
 }
 @media(max-width:1199px) {
 	.home-demo {
 		margin-bottom: 30px;
 	}
 
 }
 @media(max-width: 1150px) {
 	.owl-prev {
 		left: -53px;
 	}
 	.owl-next {
 		right: -53px;
 	}
 }

 @media(max-width: 1024px) {
 	.home-demo {
 		padding: 0 30px;
 	}
 	.checkboxNew{
 		width: 50%;
 	}
 	.owl-prev, .owl-next {
 		height: 35px;
 		width: 35px;
 		background-size: 35px;
 	}
 	.owl-prev {
 		left: -40px;
 	}
 	.owl-next {
 		right: -40px;
 	}
 	.free_trial > a {
 		padding: 10px 22px;
 	}
 	.carousel-control.right {
 		right: 20px;
 	}
 	.carousel-control.left {
 		right: 78px !important;
 	}
 	.footer_top_content li {
 		padding: 24px 30px 10px 30px;
 	}
 	.header_bottom::after {
 		width: 30%;
 	}
 	.contact_header i {
 		margin-right: 8px;
 	}
 	.content_address p {
 		font-size: 12px;
 	}
 	.content_address h6 {
 		font-size: 15px;
 	}
 	.contact-back-img img {
 		margin-top: 22px;
 	}
 	.contact_with_image h3 {
 		font-size: 23px;
 	}
 	.slider_content h1 {
 		font-size: 35px;
 	}
 	.caption_container {
    top: 50%;
    transform: translateY(-50%);
 	}
 	.profile_tab li a {
 		padding: 10px 20px;
 	}

 }
 @media(max-width: 991px) {
     .slider_content h1 {
    font-size: 30px;
}
     .slider_content .btn_caption a{
                margin-right: 10px;
    width: 220px;
    font-size: 15px;
     }
     .our_services_tab .nav-pills>li>a {
    font-size: 14px;
}
        .free_trial{
    float: left;
}
 	.header_menu li {
 		padding: 0 14px;
 	}
 	.contact_header {
 		width: 42%;
 		margin-right: 1%;
 	}
 	.contact_header i {
 		padding: 6px 8px;
 		margin-right: 6px;
 	}
 	.free_trial > a {
 		font-size: 16px;
 	}
 	.company {
 		width: 15%;
 	}
 	.contact_us {
 		width: 26%;
 	}
 	.footer_top_content h3 {
 		font-size: 18px;
 	}
 	.logo.logo_sm {
 		display: block;
 	}
 	.logo_sm img {
 		width: auto;
 	}
 	.logo_sm a {
 		margin: 0 auto;
 		display: table;
 	}
 	.header_right_custom {
 		width: 100%;
 	}
 	.header_right_top ul {
 		float: left;
 		width: 100%;
 	}
 	.header_top::after {
 		width: 100%;
 	}
 	.content_address h6 {
 		width: 80%;
 	}
 	.header_right_bottom {
 		padding: 0px 0 26px;
 	}
 	.text_header {
 		width: 180px;
 	}
 	.basics {
 		margin-top: 30px;
 		padding: 10px;
 	}
 	.basic_price {
 		padding: 50px 0;
 	}
 	.basics {
 		padding: 20px;
 	}
 	.sidenav {
 		height: 100%;
 		width: 0;
 		position: fixed;
 		z-index: 9999;
 		top: 0;
 		left: 0;
 		background-color: #405872;
 		overflow-x: hidden;
 		transition: 0.5s;
 		padding-top: 60px;
 	}
 	.sidenav a {
 		padding: 15px 8px 15px 0px;
 		text-decoration: none;
 		font-size: 25px;
 		color: #fff;
 		display: block;
 		transition: 0.3s;
 	}
 	.sidenav a:hover, .offcanvas a:focus {
 		color: #fff;
 	}
 	.sidenav .closebtn {
 		position: absolute;
 		top: 0;
 		right: 10px;
 		font-size: 36px;
 		margin-left: 50px;
 	}
 	.header_menu span {
 		display: block;
 	}
 	a.closebtn {
 		display: block;
 	}
 	.header_menu span {
 		color: #fff;
 	}
/* .header_menu li {
    width: 100%;
    } */
    .header_menu {
    	padding: 12px 0;
    }
    .search-form .form-group {
    	float: right !important;
    	transition: all 0.35s, border-radius 0s;
    	width: 32px;
    	height: 32px;
    	background-color: #fff;
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    	border-radius: 25px;
    	border: 1px solid #ccc;
    }
    .search-form .form-group input.form-control {
    	padding-right: 20px;
    	border: 0 none;
    	background: transparent;
    	box-shadow: none;
    	display: block;
    }
    .search-form .form-group input.form-control::-webkit-input-placeholder {
    	display: none;
    }
    .search-form .form-group input.form-control:-moz-placeholder {
    	/* Firefox 18- */
    	display: none;
    }
    .search-form .form-group input.form-control::-moz-placeholder {
    	/* Firefox 19+ */
    	display: none;
    }
    .search-form .form-group input.form-control:-ms-input-placeholder {
    	display: none;
    }
    .search-form .form-group:hover, .search-form .form-group.hover {
    	width: 190px;
    	border-radius: 4px 25px 25px 4px;
    }
    .search-form .form-group span.form-control-feedback {
    	position: absolute;
    	top: -1px;
    	right: -2px;
    	z-index: 2;
    	display: block;
    	width: 34px;
    	height: 34px;
    	line-height: 34px;
    	text-align: center;
    	color: #86553a;
    	left: initial;
    	font-size: 14px;
    }
/* .text_header {
  width: inherit;
  color: #000;
  } */
  .header_search {
  	margin: 17px 0;
  }
  .form-group {
  	margin-bottom: 0;
  }
  .header_search form {
  	width: 95%;
  }
  .header_menu {
  	width: auto;
  }
  .header_menu li {
  	border-bottom: 1px solid #fff;
  	width: 300px;
  }
  .text_header {
  	color: #000;
  }
  .form-group.has-feedback:hover .text_header {
  	font-size: 14px;
  }
  .form-control.text_header {
  	font-size: 0;
  }
  .text_header::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #ccc;
  }
  .text_header::-moz-placeholder { /* Firefox 19+ */
  	color: #ccc;
  }
  .text_header:-ms-input-placeholder { /* IE 10+ */
  	color: #ccc;
  }
  .text_header:-moz-placeholder { /* Firefox 18- */
  	color: #ccc;
  }
  .header_bottom::after {
  	width: 50%;
  }
  .search-form .form-group:hover, .search-form .form-group.hover {
  	width: 250px;
  }
  .text_header {
  	width: 250px;
  }
  .header_menu li:last-child {
  	border: 0 none;
  }
  .header_menu li a {
  	font-size: 17px;
  }
  .slider_content h3 {
  	font-size: 20px;
  }
  .our_services_tab .tab_img {
  	display: none;
  }
  .profile_tab li a {
  	padding: 10px 16px;
  }
}
@media (min-width: 320px) and (max-width: 991px){
	.portlet.light.bg-inverse{
		margin-bottom: 20px;
	}
	ul.mode_communication li{
		width: 100%
	}
}
@media(max-width:800px) {
/* 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #405872;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    } */
/* .header_menu span {
    color: #fff;
}
.header_menu li {
    width: 100%;
}
.header_menu{padding: 12px 0;} */
.slider_content h1 {
	font-size: 30px;
}
.slider_content h3 {
	font-size: 20px;
}
.slider_content p {
	font-size: 15px;
}
.slider_content .btn_caption a {
	width: 188px;
        font-size: 13px;
}
/* .header_menu span {
    display: block;
}
a.closebtn {
    display: block;
    } */
    .contact-back-img img {
    	margin-top: 131px;
    }
    .footer_top_content img {
    	margin-right: 8px;
    	width: 15%;
    	margin-top: 11px;
    }
    .footer_top_content h4 {
    	font-size: 18px;
    	margin-top: 7px;
    }
    .footer_top_content h3 {
    	font-size: 16px;
    }
    .footer_top_content li {
    	padding: 14px 10px 10px 10px;
    	height: 83px;
    }
    .footer_top_content i {
    	height: 30px;
    	padding: 3px;
    	top: 26px;
    	width: 30px;
    }
    .getnow {
    	float: left;
    	width: 33.3%;
    	min-height: 200px;
    }
    .company {
    	width: 33.3%;
    	min-height: 200px;
    }
    .information {
    	float: left;
    	width: 33.3%;
    	min-height: 200px;
    }
    .headquarter {
    	float: left;
    	width: 33.3%;
    	min-height: 160px;
    }
    .contact_us {
    	width: 50%;
    	min-height: 160px;
    }
    .contact_us li {
    	width: 100%;
    }
    .content_address h6 {
    	margin-top: 2px;
    }
    .contact-back-img img {
    	margin-top: 149px;
    }
    .chk_admin_left {
    	padding: 0px 15px;
    }
    .content > span {
    	font-size: 13px;
    }
    .profile_tab li a {
    	padding: 10px 8px;
    	font-size: 12px;
    }
    .radio_marital {
    	float: left;
    	width: 50%;
    }
    .chk_33 {
    	width: 50%;
    	margin-bottom: 10px;
    }
    .panel_inner .checkbox {
    	float: left;
    	width: 50%;
    	margin-top: 10px;
    }
    .info_main > label {
    	width: 24%;
    }
    .info_main > input[type="text"], .info_main textarea, .info_main.country_custom > select, .date_selection {
    	width: 76%;
    }
    .info_main.mobile > input {
    	width: 65%;
    }
    .info_main textarea {
    	width: 76% !important;
    }
    .alert p {
    	line-height: normal;
    	font-size: 12px;
    	float: none;
    	text-align: -webkit-auto!important;
    }
}
@media(max-width: 767px) {
    span .btn-success {
    float: none;
}
    .chk_medical {
    float: left;
    width: 100%;
    margin-bottom: 0px; 
}

    input.btn.green.btn-small.border-radius-4.btnclspayment {
    width: auto;
    float: right;
    margin: 0 auto;
}
    span#totalPayment {
    margin-right: 10px;
}

    a.aclsmoreinfo {
    width: auto;
    background: #00c0ef none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    padding: 2px 6px;
    text-align: center;
    display: table;
    margin-bottom: 10px;
    float: none;
}

    .features-table h1 {
    border-top-left-radius: 0px !important;
}
.features-table-paid h1 {
    border-top-right-radius: 0px !important;
}

    .free_trial{
    float: left;
}
	.contact-back-img img {
		margin-top: -78px;
		max-width: 30%;
		float: right;
		margin-bottom: -90px;
	}
	.contact_with_image h3 {
		margin: 30px 0 27px 0;
	}
	.footer_top_content li {
		height: 100px;
		width: 100%;
		margin-bottom: 10px;
	}
	.footer_top_content img {
		width: auto;
	}
	.footer_top_content h4 {
		margin-top: 20px;
	}
	p.consult_p {
		float: left;
		clear: both;
	}
	.footer_li_cover {
		float: none;
		margin: 0 auto;
		display: table;
		width: 280px;
	}
	.footer_top_content h3 {
		margin-top: 18px;
	}
	.footer_top_content i {
		top: 36px;
	}
	.header_bottom::after {
		width: 47%;
	}
/* .text_header {
    width: 168px;
    float: right;
    } */
    .login_form .modal-body {
    	padding: 10px 20px;
    }
    .our_services_tab .nav-pills > li > a {
    	padding: 10px 10px;
    	font-size: 14px;
    }
    .content > span {
    	font-size: 14px;
    }
    .profile_tab li a {
    	padding: 10px 18px;
    	font-size: 14px;
    }
    .modal.in .modal-dialog {
    	transform: translate(0px, 45px);
    }
    .mobile_profile_show {
    	display: block;
    }
    .desktop_shown {
    	display: none;
    }
    .mobile_profile_show .panel-group .panel {
    	float: left;
    	width: 100%;
    }
    .mobile_profile_show .glyphicon {
    	top: 56px;
    	float: right;
    }
    .cover_pic img {
    	margin: 0 auto;
    	display: table;
    }
    .cover_pic {
    	display: table;
    	margin: 0 auto;
    	width: 100%;
    }
    .pic_content {
    	text-align: center;
    }
    /*=======updated on 4th july==============*/
    .checkout_tab span{
    	display: none;
    }
    .profile_tab{
    	background:#fff none repeat scroll 0 0;;
    }
    .personal_info{
    	padding-top: 0px;
        margin-top:10px
    }
    .padding-10{
    	display: block;
    }
    .no-space p {
    	font-size: 11px;
    	line-height: 25px;
    	text-align: left;
    }
    select#qty {
    float: right;
}
.no-right{
    text-align: center!important;
}
    .border-radius-4 {
    	text-align: center;
    	display: table;
    	margin: 10px auto;
    }
    .tab_xs_scroll {
    	overflow-x: scroll;
    	padding-bottom: 20px;
    }
    .profile_tab li a {
    	padding: 10px 8px;
    	font-size: 12px;
    }
    .profile_tab ul.nav.nav-pills {
    	width: 700px;
    }
    .date_pick{
        padding-left:0px;
    }
    #testimonial_form h4{
        margin-top:10px
    }
    .circle-arrow{
         margin-top:10px
    }
    .checkout_tab ul li.clslicls span
    {
     display:block;   
     font-size: 12px;
    line-height: 14px;
    }
}
@media(max-width:668px) {
    .slider_content h1 {
    font-size: 25px;
}
    .slider_content h3 {
    font-size: 15px;
}
    .slider_content p {
    font-size: 13px;
}
    
@media (max-width: 568px)
second.css:736
.slider_content .btn_caption a {
    padding: 5px 0px;
}
@media (max-width: 668px)
second.css:683
.slider_content .btn_caption a {
    width: 106px;
    font-size: 10px;
    margin-right: 5px;
}
@media (max-width: 800px)
second.css:385
.slider_content .btn_caption a {
    width: 188px;
    font-size: 13px;
}
@media (max-width: 991px)

.slider_content .btn_caption a {
    margin-right: 10px;
    width: 220px;
    font-size: 15px;
}

.slider_content .btn_caption a {
    background: #ff6f1f;
    border-radius: 30px;
    color: #fff;
    float: left;
    font-size: 17px;
    margin-right: 35px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 245px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

a, button {
    outline: none;
    text-decoration: none !important;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
body {
    font-family: 'museo_sans500';
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after,
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
	.slider_content .btn_caption a {
		width: 170px;
		font-size: 10px;
		margin-right: 5px;
	}

	/*.slider_content .btn_caption a {
		font-size: 14px;
		margin-right: 10px;
		padding: 10px 0;
		width: 178px;
	}*/
	.contact_with_image h3 {
		width: 70%;
	}
	.contact-back-img img {
		margin-top: -58px;
		margin-bottom: -109px;
	}
	.search-form .form-group:hover, .search-form .form-group.hover {
		width: 200px;
	}
	.text_header {
		width: 200px;
	}
	.profile_tab li a {
		padding: 10px 10px;
		font-size: 13px;
	}
/*	.slider_content .btn_caption a {
    width: 106px;
    font-size: 10px;
    margin-right: 5px;
}*/
}
@media(max-width:568px) {
    .slider_content .btn_caption a {
        width: 140px;
    }

    .btn_full {
    font-size: 11px;

}
    input#weight ,input#height {
    padding-left: 10px;
    margin-bottom: 10px;
    width: 44%;
}
    select#Abc , select#waightin {
    width: 50%;
}
    .dropdown_li a{
        padding-right: 12px;
        background-position: right;
    }
.slider_content .btn_caption a{
	padding: 5px 0px;
}

 


	.header_right_top li {
		margin: 0 7px;
	}
	.contact_header {
		width: 49%;
		margin-right: 1%;
	}
	.contact_header:nth-child(2) {
		width: 33% !important;
	}
	.content_address h6 {
		width: auto;
	}
	.free_trial > a {
		padding: 9px;
		border-radius: 0;
	}
	.free_trial {
		float: left;
		width: 22%;
	}
	.slider_content h1 {
		    font-size: 16px;
    font-weight: normal;
	}
	.slider_content h3 {
		font-size: 14px;
	}

	.slider_content p {
		font-size: 12px;
	}
	/*.slider_content .btn_caption a {
		width: 156px;
		padding: 7px 10px;
		font-size: 14px;
		margin-right: 15px;
	}*/
	.search-form .form-group:hover, .search-form .form-group.hover {
		width: 190px;
	}
	.text_header {
		width: 190px;
	}
	.our_services_tab .nav-pills > li > a {
		padding: 10px 0;
		font-size: 12px;
	}
	.profile_tab li a {
		padding: 10px 3px;
		font-size: 12px;
	}
	.content_address a {
		font-size: 16px;
	}
	.header_top::after {
		top: 60px;
	}
}
@media(max-width:500px) {
.slider_content .btn_caption a {
    width: 110px;
    font-size: 8px;
}
    .our_services_tab .quick_consult_cont a {
            margin-bottom: 10px;
    }
}
@media(max-width:490px) {
a.skipandcontinue {
    width: 100%;
    float: left;
}
a.buypremium {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 0!important;
}
    }
@media(max-width:480px) {

	.header_top::after {
		top: 64px;
	}
	.logo_sm img {
		width: 70%;
		margin: 0 auto;
		display: table;
		float: none;
	}
	.contact_header:nth-child(2) {
		width: 45% !important;
	}
	.contact_header {
		width: 53%;
		margin-right: 1%;
	}
	.free_trial {
		width: 100%;
	}
	.free_trial > a {
		width: 100%;
	}
	.header_right_bottom {
		padding: 0px 0 10px;
	}
	.header_bottom::after {
		width: 60%;
	}
	
	.slider_content p {
		margin-bottom: 6px;
	}
	.getnow {
		float: left;
		width: 50%;
		min-height: 200px;
	}
	.company {
		width: 50%;
		min-height: 200px;
	}
	.information {
		float: left;
		width: 50%;
		min-height: 170px;
	}
	.headquarter {
		float: left;
		width: 50%;
		min-height: 160px;
	}
	.contact_us {
		width: 100%;
		min-height: auto;
	}
	.footer_bottom .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
		width: 100%;
	}
	.social_link {
		float: none;
		width: auto;
		margin: 0 auto;
		display: table;
	}
	.copyright > p {
		float: none;
		text-align: center;
	}
	.glyphicon img {
		width: 35px;
	}
	.carousel-control.left {
		right: 40px !important;
			width: 20px;

	}
	.carousel-control.right {
	
		width: 20px
	}
	.carousel-control {
		top: 34px;
	}
	.contact_with_image h3 {
		font-size: 22px;
	}
	/*.slider_content .btn_caption a {
		width: 130px;
		padding: 7px 2px;
		font-size: 12px;
		margin-right: 15px;
	}*/
	.slider_content h3 {
		/*display: none;*/
            font-size: 12px;
	}
	.slider_content p {
		/*display: none;*/
            font-size: 9px;
	}
	.slider_content h1 {
		padding-bottom: 10px;
        font-size: 14px;
	}

	.our_services_tab .nav-pills>li {
		width: 100%;
	}
	.our_services_tab .nav-pills>li:first-child > a {
		border-radius: 50px;
	}
	.our_services_tab .nav-pills>li>a {
		border-left-width: 2px;
		border-right-width: 2px;
		border-radius: 50px;
	}
	.our_services_tab .nav-pills>li:last-child > a {
		border-radius: 50px;
	}
	.our_services_tab .nav-pills>li+li {
		border-left: none;
	}
	.group.date_select lable {
		width: 100%;
	}
	.date_selection {
		width: 100%;
	}
/* .date_selection select {
    width: 30.3%;
    margin-left: 0;
    margin-right: 10px;
    } */
    .profile_tab ul.nav.nav-pills {
    	width: 500px;
    }
    .tab_xs_scroll {
    	overflow-x: scroll;
    	padding-bottom: 20px;
    }
    .profile_tab {
    	overflow: hidden;
    }
    .profile_tab .tab-pane {
    	padding-top: 10px;
    }
    .info_main .date_selection select, .info_main > select {
    	margin-right: 1%;
    	font-size: 13px;
    }
    .info_admin {
    	width: 100%;
    	margin: 0;
    }
    .panel_inner {
    	overflow: scroll;
    }
    .panel_inner table {
    	width: 500px;
    }
    .date_selection select:first-child {
    	margin-left: 0;
    	width: 33.3%;
    }
    .no-space p{
    	font-size: 11px;
    	line-height: 25px;
    }
    .border-radius-4{
    	text-align: center;
    	display: table;
    	margin: 10px auto;
    }
    div#tbltestimonial_wrapper {
    	width: 100%;
    	overflow: scroll;
    	margin-top: 10px;
    }
    span .btn-success{
    	float: none;
    }
    div#tbltestimonial_info {
    	text-align: center;
    }

}
@media(max-width:450px) {
	
	.checkboxNew{
		width: 100%;
	}
    .user_profile img {
    width: 23px;
    height: 23px;
}
}
@media(max-width:414px) {
    .checkout_tab.clsdisplayhide {
   display:none;
         }
    .user_profile p {
    display: inline-block;
    line-height: 20px;
    margin: 0;
    margin-left: 10px;
    float: left;
}
    .user_profile img {
    width: 20px;
    height: 20px;
}

	div#tbltestimonial_filter input[type="search"]{
		width: auto;
	}
	.contact_header {
		width: 100%;
		margin-right: 0;
	}
	.contact_header:nth-child(2) {
		width: 100% !important;
	}
	.slider_content h1 {
		font-size: 18px;
	}
	.slider_content h3 {
		font-size: 12px;
		margin-top: 3px;
		margin-bottom: 8px;
	}
	.slider_content .btn_caption a {
		width: 90px;
		font-size: 121x;
		margin-right: 10px;
	}
	.header_bottom::after {
		width: 76%;
	}
	.contact_with_image h3 {
		font-size: 18px;
	}
/* .contact-back-img img {
    margin-top: -47px;
    } */
    .content_address h6 {
    	width: 80%;
    }
    .header_right_top {
    	float: left;
    	width: 100%;
    	padding-bottom: 10px;
    }
    .header_right_top li {
    	margin: 0 7px;
    	display: none;
    }
    li.dropdown_li {
    	display: block;
    	float: right;
        /*padding-bottom: */
    }
    .header_right_bottom {
    	display: none;
    }
    .header_top::after {
    	display: none;
    }
    .header_bottom::after {
    	width: 76%;
    	height: 50px;
    }
    .header_bottom {
    	height: 50px;
    }
    .header_search {
    	margin: 14px 0;
    }
    .header_menu {
    	padding: 4px 0;
    }
    .title_main > h1 {
    	font-size: 24px;
    }
    .contact_with_image input {
    	height: 35px;
    	margin-bottom: 2%;
    	margin-right: 2%;
    	width: 48%;
    }
    .submit_btn {
    	margin: 20px auto !important;
    }
    .contact_with_image input, .contact_with_image textarea {
    	margin-bottom: 2%;
    	margin-right: 0;
    	width: 100%;
    }
    .contact_with_image h3 {
    	width: 73%;
    }
  
   .slider_content .btn_caption a {
    width: 100px;
    font-size: 7px;
}
    .contact-back-img img {
    	margin-top: -25px;
    }
    .search-form .form-group:hover, .search-form .form-group.hover {
    	width: 140px;
    }
    .text_header {
    	width: 140px;
    }
    .header_search {
    	margin: 9px 0;
    }
    .date_select lable {

    	float: left;
    	width: 100%;
    }
    .login_form .modal-body {
    	padding: 10px;
    }
    .modal.fade {
    	padding-left: 0 !important;
    }
    .info_main > label {
    	line-height: 24px;
    	width: 100%;
    }
    .info_main > input[type="text"], .info_main textarea {
    	width: 100%;
    }
    .info_main.mobile > input {
    	width: 82%;
    	margin-right: 0px;
    }
    .info_main.mobile > input.code {
    	margin-right: 2%;
    	width: 16%;
    	float: left;
    }
    .info_main > select {
    	width: 100%;
    }
    .info_main {
    	padding: 5px 0;
    }
    .personal_info .cancel {
    	width: 49%;
    	margin-left: 1%;
    	margin-right: 0;
    }
    .personal_info .update {
    	margin-right: 1%;
    	width: 49%;
    	margin-left: 0;
    }
    .table_link a {
    	padding: 10px 20px;
    }
    .panel_inner .checkbox {
    	width: 50%;
    }
    .chk_33 {
    	width: 100%;
    }
    .chk_group h5 {
    	line-height: 22px;
    }
    .info_admin_bottom {
    	margin-right: 0;
    	width: 100%;
    }
    .panel_inner h4 {
    	font-size: 16px;
    }
    .info_main textarea {
    	width: 100% !important;
    }
    .info_main.country_custom > select {
    	margin-right: 0;
    	width: 100%;
    }
}
@media(max-width:375px) {
    .checkout_tab li a:after {
    position: absolute;
    left: -13px;
    top: 0;
    content: "\f105";
    font: normal normal normal 44px/1 FontAwesome;
    color: #ff6f1f;
    z-index: 99;
}
    p.accordion{
        font-size: 15px!important;
    }
	.slider_content h1 {
		font-size: 14px;
	}
	.slider_content h3 {
		font-size: 10px;
		margin-top: 3px;
		margin-bottom: 8px;
	}
	.slider_content p {
		font-size: 7px;
		line-height: 13px;
	}
	
	
	.chk_bx {
		width: 100%;
	}
	.chk_bx.forget_pwd > a {
		float: left;
		padding-top: 10px;
	}
	.login_form .modal-header .close {
		height: 40px;
		width: 40px;
		margin-bottom: 20px;
	}
	.checkout_tab li a p {
		height: 40px;
		width: 40px;
		padding: 10px;
		font-size: 14px;
	}
	.checkout_tab li a {
		height: 50px;
		width: 50px;
	}
	.user_detail input[type=file] {
		display: block;
		width: 100%;
	}
	.checkout_tab li:before {
		top: 28px;
	}
        .portlet-body label {
    font-size: 11px;
}

}
@media(max-width:340px) {
a#btnLock {
        margin-top: 10px;
    }
}
@media(max-width:340px) {
	.accordion_btn button{
		margin-bottom: 10px;
	}
       .slider_content .btn_caption a {
    width: 90px;
    font-size: 6px;
    margin-right: 2px;
}

	
}


@media(max-width:320px) {
 
	.header_top::after {
		top: 80px;
	}
	.contact_with_image h3 {
		font-size: 15px;
	}
	.contact-back-img img {
		margin-top: -29px;
	}
	.getnow {
		float: left;
		width: 100%;
		min-height: 190px;
	}
	.company {
		width: 100%;
		min-height: 160px;
	}
	.information {
		float: left;
		width: 100%;
		min-height: 170px;
	}
	.headquarter {
		float: left;
		width: 100%;
		min-height: 130px;
	}
	.contact_us {
		width: 100%;
		min-height: auto;
	}
	.footer_menu {
		padding: 30px 0 35px;
	}
	.copyright > p {
		font-size: 13px;
	}
	.btn_caption {
		margin-top: 10px;
	}
	.contact_with_image h3 {
		width: 80%;
	}

	.contact-back-img img {
		margin-top: -13px;
	}
}
/*=========== update============*/

@media (max-width: 1060px) and (min-width: 768px){
	img#profileimage{
		height: 150px;
		width: 150px;
	}
	.profile_tab li a {
		padding: 10px 8px;
		font-size: 12px;
	}
