.container {
	max-width: 1070px;
	padding: 0 15px;
	width: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
a, button {
	outline: none;
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
img
{
	max-width:100%;
}
body {
	font-family: 'museo_sans500';
}
@font-face {
	font-family: 'museo_sans500';
	src: url('../font/museosans_500-webfont.woff2') format('woff2'), url('../font/museosans_500-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
header {
	float: left;
	width: 100%;
}
.header_top {
	float: left;
	width: 100%;
}
.header_top::after {
	/*border-bottom: 1px solid #d5d8d9;*/
	content: "";
	display: table;
	float: left;
	position: absolute;
	right: 0;
	top: 44px;
	width: 60%;
}
.logo {
	float: left;
	width: 100%;
}
.logo img {
	float: left;
	width: 100%;
}
.logo_custom {
	background: #fff none repeat scroll 0 0;
	position: relative;
	width: 35%;
	z-index: 10;
}
.header_right_custom {
	width: 65%;
}
.header_right_top {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
}
.header_right_top li {
	display: inline-block;
	margin: 0 18px;
	color: #727272;
}
.header_right_top li a {
	color: #727272;
	font-size: 13px;
	outline: 0;
	margin-bottom: -11px!important;
}
.header_right_top li:last-child {
	margin-right: 0px;
}
.header_right_top li a i {
	margin-right: 5px;
	color: #ff6f1f !important;
	font-size: 18px;
}
.header_right_top li i {
	color: #000;
	margin-right: 5px;
	font-size: 18px;
}
.content_address a {
	font-weight: 700;
	color: #2c3f50;
	font-size: 17px;
}
.contact_header {
	float: left;
	width: 38%;
}
.free_trial {
	float: left;
	width: 24%;
}
.contact_header i {
	border: 2px solid #dbe1e7;
	border-radius: 3px;
	float: left;
	padding: 9px 12px;
	color: #ff6f1f;
	margin-right: 10px;
	font-size: 20px;
}
.content_address h6 {
	color: #2c3f50;
	float: left;
	font-size: 17px;
	font-weight: 700;
	clear: right;
	margin-top: 5px;
}
.content_address p {
	color: #727272;
	float: left;
	font-size: 13px;
}
.free_trial > a {
	background: #ff6f1f;
	border-radius: 25px;
	color: #fff;
	float: right;
	font-size: 17px;
	padding: 10px 26px;
	text-align: center;
}
.header_right_bottom {
	float: left;
	padding: 26px 0;
	width: 100%;
    padding-right: 20px;
}
.free_trial > a:hover {
	background: #2d3e50;
	transition: 0.3s;
}
.header_right_top ul {
	display: table;
	float: right;
}
.header_bottom {
	background: #2d3e50 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.header_menu {
	float: left;
	padding: 24px 0;
	width: 100%;
}
.header_menu li {
	display: inline-block;
	padding: 0 9px;
}
.header_menu li a {
	color: #fff;
	font-size: 15px;
}
.header_menu li.active a {
	font-weight: 700;
}
.header_menu li.active a, .header_menu li a:hover {
	color: #ff6f1f;
}
.header_menu li a:hover {
	transition: 0.3s;
}
.header_menu li:first-child {
	padding-left: 0px;
}
.header_menu li:last-child {
	padding-right: 0px;
}
.header_bottom::after {
	background: #86553a;
	content: "";
	display: table;
	float: left;
	height: 70px;
	position: absolute;
	right: -50px;
	top: 0;
	transform: skew(-15deg);
	width: 38%;
	border-left: 4px solid #fff;
}
.submit_header {
	background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll right center / 18px 18px;
	border: medium none;
	content: "";
	font-size: 0;
	height: 18px;
	position: absolute;
	right: 2px;
	top: 4px;
	width: 18px;
}
.header_search {
	float: left;
	margin: 21px 0 0;
	position: relative;
	width: 100%;
	z-index: 11;
}
.header_search form {
	position: relative;
	float: right;
	width: 80%;
}
.text_header {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	font-size: 15px;
	color: #fff;
	outline: none;
	box-shadow: none;
}
.form-control:focus
{
	border:0 !important;
}
.slider {
	float: left;
	width: 100%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	width: auto;
	margin-right: 0;
}
.carousel-control {
	left: inherit !important;
	position: absolute;
	top: 0;
	width: auto;
	opacity: 1;
}
.glyphicon.glyphicon-chevron-right:before, .glyphicon.glyphicon-chevron-left:before {
	content: "";
}
.slider .container {
	position: relative;
	top: -60px;
}
.carousel-control.left {
	right: 110px !important;
	transform: skewX(-4deg);
}
.carousel-indicators {
	display: none;
}
.caption_container {
	left: 0;
	margin: 0 auto;
	max-width: 1070px;
	padding: 0 15px;
	position: absolute;
	right: 0;
    top: 50%;
    transform: translateY(-50%);
	width: 100%;
}
.slider_content h1 {
	float: left;
	font-size: 50px;
	font-weight: 700;
	clear: both;
	text-transform: uppercase;
	color: #fff;
}
.slider_content h3 {
	clear: both;
	float: left;
	font-size: 33px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 16px;
}
.slider_content {
	display: table;
	float: left;
	width: auto;
}
.slider_content p {
	color: #fff;
	font-size: 18px;
	margin-bottom: 15px;
	float: left;
}
.slider_content .btn_caption a {
	background: #ff6f1f;
	border-radius: 30px;
	color: #fff;
	float: left;
	font-size: 17px;
	margin-right: 35px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	width: 245px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.btn_caption {
	float: left;
    width:100%;
}
.slider_content .btn_caption a:hover {
	background: #2d3e50;
	transition: 0.3s;
}
.title_main {
	float: left;
	width: 100%;
}
.title_main > h1 {
	display: table;
	margin: 0 auto;
	padding-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-size: 32px;
	color: #2d3e50;
}
.basic_price {
	float: left;
	padding: 70px 0;
	width: 100%;
	position: relative;
}
.basic_price_back {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.title_main > h1::after {
	border-top: 1px solid #e0e0e0;
	bottom: 14px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 64%;
}
.title_main > h1::before {
	border-top: 1px solid #e0e0e0;
	bottom: 6px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 40%;
}
.title_main > p {
	font-size: 16px;
	margin-top: 14px;
	text-align: center;
}
.basics {
	border: 2px solid #ededed;
	border-radius: 8px;
	float: left;
	margin-top: 20px;
        min-height: 255px;
	padding: 12px;
	width: 100%;
	background: #fff;
}
.basics > img {
	display: table;
	margin: 0 auto;
}
.basics h4 {
	color: #ff6f1f;
	font-size: 20px;
	margin: 20px 0;
	text-align: center;
	/*text-transform: uppercase;*/
}
.basics > p {
	color: #474747;
	font-size: 14px;
	line-height: normal;
    min-height: 65px;
	text-align: center;
}
.basics > a {
	background: #ff6f1f none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	display: table;
	font-size: 17px;
	margin: 0 auto;
	padding: 5px 30px;
}
.basics:hover {
	background: #f7f7f7;
	transition: 0.3s;
	border: 2px solid #f7f7f7;
}
.basics:hover h4 {
	color: #405872;
}
.basics:hover a {
	background: #405872;
	transition: 0.3s;
}
.title_main h1 strong {
	color: #86553a;
}
.slider_content .btn_caption a i {
    padding-left: 10px;
}
.title_main.news h1 {
	text-transform: inherit;
}
.home-demo {
	float: left;
	margin-top: 30px;
	width: 100%;
}
.multiple_slider {
	float: left;
	width: 100%;
}
.multiple_slider > img {
	float: left;
	width: 100% !important;
}
.multiple_slider h3 a {
	color: #ff6f1f;
	float: left;
	font-size: 18px;
	padding: 14px 0;
	text-align: center;
	width: 100%;
}
.multiple_slider h3 a:hover {
	color: #405872;
}
.multiple_slider > p {
	float: left;
	text-align: center;
	width: 100%;
	font-size: 15px;
	color: #474747;
}
.date {
	color: #a3a3a3;
	float: left;
	margin-top: 10px;
	width: 50%;
}
.date i {
	margin-right: 5px;
	color: #a3a3a3;
}
.comments {
	text-align: right;
}
.owl-next {
	background-image: url(../images/multi_right.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 44px;
	width: 44px;
	font-size: 0;
}
.owl-prev {
	background-image: url(../images/multi_left.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 44px;
	width: 44px;
	font-size: 0;
}
.owl-nav {
	height: 0;
	position: absolute;
	top: 50%;
	width: 100%;
}
.owl-prev {
	float: left;
	left: -70px;
	position: relative;
}
.owl-next {
	float: right;
	right: -70px;
	position: relative;
}
.view_all {
	display: table;
	float: none;
	margin: 40px auto 0;
}
.view_all > a {
	background: #405872 none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	font-size: 17px;
	padding: 10px 40px;
}
.view_all > a:hover {
	background: #86553a;
	transition: 0.3s;
}
.home_news {
	float: left;
	padding-bottom: 55px;
	width: 100%;
	position: relative;
}
.news_background_image {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.basic_price_back img {
	max-width: 100%;
	float: left;
}
.news_background_image img {
	max-width: 100%;
	float: right;
}
.contact_cover {
	float: left;
	width: 100%;
	background: url('../images/contact_backs.jpg');
}
.contact_with_image {
	float: left;
	width: 100%;
	position: relative;
}
.contact_with_image > form {
	float: left;
	width: 100%;
}
.contact-back-img img {
	margin-top: -17px;
	max-width: 100%;
}
.contact_with_image input {
	border: medium none;
	border-radius: 4px;
	float: left;
	height: 50px;
	margin-bottom: 20px;
	margin-right: 2%;
	width: 48%;
	padding-left: 20px;
	color: #737171;
	font-size: 15px;
	outline: none;
}
.contact_with_image textarea {
	border: medium none;
	border-radius: 4px;
	color: #737171;
	font-size: 15px;
	margin-right: 2%;
	padding-left: 20px;
	padding-top: 10px;
	width: 98%;
	outline: none;
	min-height: 115px;
}
.contact_with_image h3 {
	color: #2d3e50;
	float: left;
	font-size: 24px;
	text-transform: uppercase;
	width: 100%;
	margin: 45px 0 27px 0;
}
.contact_with_image strong {
	color: #744227;
}
.submit_btn {
	background: #ff6f1f;
	display: table;
	margin: 30px auto !important;
	width: auto !important;
	float: none !important;
	padding: 0px 20px;
	color: #fff !important;
	font-size: 17px;
	border-radius: 30px !important;
	box-shadow: 1px 1px 5px 0px rgba(238 , 158, 158, 0.5);
}
.submit_btn:hover {
	background: #405872;
	transition: 0.3s;
}
.footer_top {
	float: left;
	width: 100%;
	background: #2d3e50;
}
.footer_top_content {
	float: left;
	width: 100%;
}
.footer_top_content > ul {
	float: left;
	width: 100%;
}
.footer_top_content li:first-child {
	background: #ab7354 none repeat scroll 0 0;
}
.footer_top_content img {
	float: left;
	margin-right: 14px;
}
.footer_top_content h4 {
	color: #fff;
	float: left;
	font-size: 20px;
	margin-top: 14px;
}
.footer_top_content p {
	color: #fff;
	float: left;
	font-size: 12px;
	margin-top: 4px;
}
.footer_top_content li {
	display: inline-block;
	float: left;
	width: 33.3%;
	padding: 24px 45px 10px 35px;
	height: 105px;
	position: relative;
}
.footer_top_content li:nth-child(2) {
	background: #86553a none repeat scroll 0 0;
}
.footer_top_content h3 {
	color: #fff;
	float: left;
	font-size: 22px;
	font-weight: 700;
	margin-top: 10px;
	text-transform: uppercase;
}
.footer_top_content li:last-child {
	background: #744227 none repeat scroll 0 0;
}
.footer_top_content i {
	background: #ab7354 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	float: right;
	font-size: 22px;
	height: 40px;
	padding: 9px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 36px;
	width: 40px;
}
.footer_top_content i:hover {
	background: #ff6f1f;
	transition: 0.3s;
}
.getnow {
	float: left;
	width: 20%;
}
.company {
	float: left;
	width: 20%;
}
.information {
	float: left;
	width: 20%;
}
.headquarter {
	float: left;
	width: 22%;
}
.contact_us {
	float: left;
	width: 24%;
}
.getnow li::before, .company li::before, .information li::before {
	color: #fff;
	content: "";
	font-family: FontAwesome;
	font-size: 16px;
}
.getnow li, .company li, .information li {
	display: table;
	margin-bottom: 10px;
}
.getnow li a, .company li a, .information li a {
	padding-left: 10px;
	color: #fff;
}
.getnow h4, .company h4, .information h4, .contact_us h4, .headquarter h4 {
	font-size: 20px;
	color: #ff6f1f;
	margin-bottom: 20px;
}
.footer_menu {
	float: left;
	padding: 60px 0 45px;
	width: 100%;
}
.headquarter > p {
	color: #fff;
	font-size: 14px;
	line-height: 26px;
}
.contact_us li {
	display: table;
	float: left;
	margin-bottom: 10px;
}
.contact_us a {
	color: #fff;
	font-size: 14px;
}
.contact_us i {
	margin-right: 7px;
}
.footer_bottom {
	background: #253342 none repeat scroll 0 0;
	float: left;
	padding: 20px 0;
	width: 100%;
}
.copyright {
	float: left;
	width: 100%;
}
.copyright > p {
	color: #fff;
	float: left;
	font-size: 14px;
	line-height: 38px;
	margin-bottom: 0;
}
.social_link {
	float: left;
	width: 100%;
}
.social_link > ul {
	display: table;
	float: right;
}
.social_link li {
	display: inline-block;
	padding: 0 4px;
}
.social_link i {
	background: #36495c none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	height: 35px;
	padding: 10px;
	text-align: center;
	width: 35px;
}
.social_link li:last-child {
	padding-right: 0;
}
.social_link i:hover {
	background: #ff6f1f none repeat scroll 0 0;
	transition: all 0.3s ease 0s;
}
.text_header::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
.text_header::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
.text_header:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
.text_header:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}
.contact_with_image ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #bebebe;
}
.contact_with_image ::-moz-placeholder { /* Firefox 19+ */
	color: #bebebe;
}
.contact_with_image :-ms-input-placeholder { /* IE 10+ */
	color: #bebebe;
}
.contact_with_image :-moz-placeholder { /* Firefox 18- */
	color: #bebebe;
}
.logo.logo_sm {
	display: none;
}
.header_menu span {
	display: none;
}
a.closebtn {
	display: none;
}
.getnow li a:hover, .company li a:hover, .information li a:hover {
	color: #ff6f1f;
	transition: 0.3s;
}
.basics.premium {
	position: relative;
}
.basics.premium:after {
	content: "";
	background-image: url(../images/premium.png);
	position: absolute;
	z-index: 99;
	left: -7px;
	top: -8px;
	    width: 110px;
    height: 130px;
	background-repeat: no-repeat;
}
.basics > h6 {
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	left: 1px;
	letter-spacing: 1px;
	line-height: normal;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 32px;
	transform: rotate(-44deg);
	z-index: 999;
}
.owl-next:hover {
	background-image: url(../images/multi_right_hover.png);
	transition: 0.3s;
}
.owl-prev:hover {
	background-image: url(../images/multi_left_hover.png);
	transition: 0.3s;
}
.home_map {
	float: left;
	width: 100%;
}
.has-feedback label.sr-only ~ .form-control-feedback {
	color: #fff;
	top: 10px;
}
.login_form .modal-header {
	padding: 0;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.login_form .modal-header .close {
	margin-top: 0px;
	height: 60px;
	width: 70px;
	background: #2d3e50;
	color: #fff;
	opacity: 1;
}
.login_form .modal-header .close:hover {
	background: #ff6f1f;
	transition: 0.3s;
}
.login_form .modal-title {
	padding: 12px;
	text-transform: uppercase;
	color: #ff6f1f;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	background: #f5f5f5;
	margin-top: 0;
}
.form_100 {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 20px;
}
.login_form .modal-body {
	padding: 10px 50px;
}
.login_form .modal-header img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 12px;
	max-width: 168px;
}
.header_right_top ul li i.fa.fa-lock {
	color: #000;
}
.group {
	position: relative;
	margin-bottom: 35px;
	margin-left: 0px;
	margin-right: 0px;
}
.inputMaterial {
	font-size: 14px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	-webkit-border-radius: 0px ;
}
.inputMaterial:focus {
	outline: none;
}
/* LABEL ======================================= */

.lbl_form {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
	top:-15px;
	font-size:14px;
	color: #86553a;
	font-weight: 700;
}
/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: #86553a;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}
/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
	width: 50%;
}
/* active state */
.inputMaterial:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from {
		background:#5264AE;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background:#5264AE;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background:#5264AE;
	}
	to {
		width: 0;
		background: transparent;
	}
}
.btn_full {
	background: #ff6f1f;
	border: medium none;
	color: #fff !important;
	float: left;
	font-size: 14px;
	height: 40px;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	margin-top: 10px;
}
.form_100 .group:last-child {
	margin-bottom: 10px;
}
.btn_full.signup {
	background: #2d3e50;
	margin-bottom: 20px;
	cursor: pointer;
}
.modal-content {
	display: table;
	float: left;
	width: 100%;
}
.remember_pwd {
	float: left;
	width: 100%;
	margin: 15px 0px;
}
.chk_bx {
	float: left;
	width: 50%;
}
.btn_full:hover {
	background: #86553a;
	transition: 0.3s;
}
.btn_full:last-child:hover {
	background: #86553a;
	transition: 0.3s;
}
.chk_bx label {
	margin-left: 5px;
}
.checkbox {
	float: left;
	margin: 0;
}
.checkbox label::after {
	clear: both;
	content: "";
	display: table;
}
.checkbox label input[type="checkbox"] {
	display: none;
}
.checkbox .cr {
	border: 1px solid #b5b6b7;
	display: inline-block;
	float: left;
	height: 15px;
	margin-right: 0.5em;
	position: relative;
	width: 15px;
	margin-top: 2px;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon {
	opacity: 0;
	transform: scale(3) rotateZ(-20deg);
	transition: all 0.3s ease-in 0s;
}
.checkbox .cr .cr-icon {
	font-size: 0;
	left: 2px;
	line-height: 0;
	position: absolute;
	right: inherit;
	top: 2px;
	height: 10px;
	width: 9px;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
	opacity: 1;
	transform: scale(1) rotateZ(0deg);
}
.checkbox .cr-icon.glyphicon.glyphicon-ok > img {
	width: 100%;
}
.checkbox > label {
	padding-left: 0;
}
.chk_bx.forget_pwd > a {
	float: right;
	cursor: pointer;
}
.chk_bx.forget_pwd > a {
	color: #86553a;
	float: right;
}
.chk_bx.forget_pwd > a:hover {
	color: #ff6f1f;
}
.modal {
	background: rgba(0,0,0,0.5);
}
.meet_our_team {
	float: left;
	margin-bottom: 30px;
	width: 100%;
}
.meet_our_team .multiple_slider h3 a {
	padding: 5px 0;
}
.group.dropdowns select {
	width: 100%;
	float: left;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #e5e5e5 url("../images/br_down.png") no-repeat scroll right 10px center / 10px 10px;
}
.group.dropdowns {
	padding-bottom: 30px;
}
.date_select select {
	border: none;
	height: 30px;
	padding-left: 10px;
	margin-left: 10px;
	color: #000;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #e5e5e5 url("../images/br_down.png") no-repeat scroll right 5px center / 10px 10px;
}
.dropdown_li a {
	background: url("../images/black_down.png") no-repeat scroll right 5px center / 10px 10px;
	padding-right: 20px;
}
.modal.in .modal-dialog {
	transform: translate(0px, 113px);
}
.header_right_top li a:hover {
	color: #000;
}
.group.date_select {
	float: left;
	width: 100%;
}
.group.date_select lable {
	float: left;
	width: 20%;
	line-height: 40px;
}
.date_selection {
	float: left;
	width: 80%;
}
.date_selection select {
	float: left;
	height: 40px;
	margin-left: 2%;
	width: 31.3%;
}
.date_selection > select > option {
	padding-left: 10px;
}
.personal_info {
	float: left;
	padding-top: 30px;
	width: 100%;
}
.form-control:focus {
	border: 1px solid #8c8383;
	box-shadow: none;
	transition: 0.3s;
}
.info_main {
	float: left;
	padding: 10px 0;
	width: 100%;
}
.info_main > label {
	color: #2d3e50;
	float: left;
	line-height: 34px;
	width: 20%;
}
.info_main > input[type="text"], .info_main textarea {
	height: 40px;
	width: 80%;
	padding-left: 10px;
	outline: none;
	border: 1px solid #ccc;
}
.info_main textarea {
	height: 85px;
	width: 80% !important;
	padding-top: 5px;
}
.info_main > select {
	height: 40px;
	padding-left: 10px;
	width: 150px;
	outline: none;
}
.info_main.mobile > input {
	width: 69%;
	float: left;
	border-radius: 0;
}
.info_main.mobile > input.code {
	margin-right: 1%;
	width: 10%;
}
.info_main .checkbox + .checkbox, .radio + .radio {
	margin-top: 0px;
	margin-left: 20px;
}
.info_main label em {
	color: #f00;
}
.personal_info button {
	border: medium none;
	float: right;
	font-size: 16px;
	height: 40px;
	width: 140px;
}
.personal_info .update {
	background: #ff6f1f;
	color: #fff;
	margin-right: 10px;
}
.personal_info .cancel {
	background: #ccc;
	color: #5B5858;
}
.profile_page {
	float: left;
	width: 100%;
}
.profile_image {
	float: left;
	width: 100%;
}
.profile_image > img {
	display: table;
	float: none;
	margin: 0 auto;
	max-width: 100%;
}
.profile_content {
	float: left;
	width: 100%;
}
.content {
	float: left;
	width: 100%;
	padding: 5px 0;
}
.content > span {
	float: left;
	width: 50%;
	font-size: 15px;
	color: #2d3e50;
}
.content > span:last-child {
	float: right;
	text-align: right;
	width: 50%;
}
.content > ul {
	border-top: 1px solid #ccc;
	float: left;
	margin-top: 10px;
	padding-top: 15px;
	width: 100%;
}
.content li {
	display: inline-block;
	float: left;
	padding: 0 3px;
	width: 25%;
}
.content img {
	max-width: 100%;
	float: none;
	margin: 0 auto;
}
.content > a {
	background: #367194 none repeat scroll 0 0;
	color: #fff;
	float: left;
	font-size: 16px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.content > a:hover, .personal_info button.update:hover {
	background: #2d3e50;
	transition: 0.3s;
}
.profile_page {
	background: #f8f8f8 none repeat scroll 0 0;
	padding: 10px;
}
.profile_tab {
	background: #f8f8f8 none repeat scroll 0 0;
	padding: 15px;
	margin-bottom: 20px;
	min-height: 488px;
	float: left;
	width: 100%;
}
.profile_tab li a {
	background: #2d3e50;
	float: left;
	margin-right: 7px;
	padding: 10px 25px;
	width: auto;
	color: #fff;
}
.profile_tab li:last-child a {
	margin-right: 0;
}
.profile_tab ul.nav.nav-pills {
	display: table;
	margin: 0;
}
.profile_tab li.active a, .profile_tab li:hover a {
	background: #ff6f1f;
}
.info_main .date_selection select, .info_main > select {
	background:#fff url("../images/black_down.png") no-repeat scroll right 10px center / 10px 10px;
	padding-right: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-left: 10px;
	margin-right: 15px;
	outline : none;
	border: 1px solid #ccc;
}
.checkout_tab {
	float: left;
	width: 100%;
	padding: 50px 0;
	position: relative;
}
.checkout_tab ul {
	float: left;
	width: 100%;
}
.checkout_tab li {
	width: 25%;
	display: inline-block;
	float: left;
}
.checkout_tab li.clslicls {
	width: 20%;
	display: inline-block;
	float: left;
}
.checkout_tab li a {
	margin: 0 auto;
	display: table;
}
.checkout_tab li a p {
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	padding: 13px;
	font-size: 16px;
	color: #000;
	margin: 0 auto;
	display: table;
	margin-top: 5px;
	line-height:22px;
}
.checkout_tab li a {
	margin: 0 auto;
	display: table;
	background: #2d3e50;
	height: 60px;
	width: 60px;
	border-radius: 50%;
    position:relative;
}
.checkout_tab li a p:hover, .checkout_tab li a p.active {
	background: #2d3e50;
	transition: 0.3s;
	color: #fff;
}
.checkout_tab li:before {
	content: "";
	height: 5px;
	width: 100%;
	position: relative;
	z-index: -1;
	background: #ff6f1f;
	top: 36px;
	display: block;
}
.checkout_tab li:first-child:before {
	width: 50%;
	left : 50%;
}
.checkout_tab li:last-child:before {
	width: 50%;
	left: 0;
}
.checkout_tab span {
	text-align: center;
	margin: 0 auto;
	display: table;
	padding-top: 10px;
	font-size: 16px;
}
.profile_tab .tab-pane {
	padding-top: 20px;
	float: left;
}
.tab2_profile {
	max-height: 300px;
	width: 250px;
	float: left;
	background: #ccc;
}
.tab2_profile img {
	max-width: 100%;
}
.accordion_page .panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}
.accordion_page .panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #f1f1f1;
	border-color: #EEEEEE;
}
.accordion_page .panel-title {
	font-size: 14px;
}
.accordion_page .panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}
.accordion_page .more-less {
	float: right;
	color: #484848;
	font-size: 16px;
}
.accordion_page .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.tab_3.tab-pane.active {
	float: left;
	width: 100%;
}
.info_admin {
	float: left;
	width: 48%;
	margin: 1%;
}
.info_admin label {
	float: left;
	width: 100%;
	color: #ff6f1f;
	font-weight: normal;
}
.info_admin input[type="text"], .info_admin input[type="date"] {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	height: 40px;
	padding-left: 10px;
	outline: none;
	border-radius: 0;
}
.info_admin label em {
	color: #f00;
}
.info_admin span {
	float: left;
	margin: 0 10px;
	line-height: 24px;
}
.info_admin input[type=radio] {
	float: left;
}
.radio_marital {
	float: left;
	width: 33.3%;
}
.panel_inner {
	float: left;
	width: 100%;
}
.panel_inner h4 {
	float: left;
	width: 100%;
	color: #ff6f1f;
	margin-bottom: 10px;
}
.panel_inner input[type="radio"] {
	float: left;
}
.panel_inner span {
	margin: 2px 20px 0 7px;
	float: left;
}
.panel_inner td input[type="text"] {
	width: 100%;
	border: 1px solid #aaa;
	outline: none;
}
.panel_inner td {
	padding: 5px 10px 5px 10px;
}
.panel_inner table {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.panel_inner th, .panel_inner td {
	border: 1px solid #ccc;
	text-align: center;
}
.panel_inner tr {
	border: 1px solid #ccc;
}
.table_link a:hover {
	background: #2d3e50;
	transition: 0.3s;
}
.table_link {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.table_link a {
	float: left;
	padding: 10px 30px;
	background: #ff6f1f;
	margin-right: 10px;
	color: #fff;
}
.table_link span {
	float: left;
	color: #f00;
}
.chk_medical {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.chk_33 {
	float: left;
	width: 33.3%;
}
.chk_group h5 {
	float: left;
	width: 100%;
	margin: 10px 0;
	font-weight: normal;
}
.panel_inner .checkbox {
	float: left;
	width: 25%;
	margin-top: 10px;
}
.chk_group {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.testimonial {
	float: left;
	width: 100%;
}
.testimonial form {
	float: left;
	width: 100%;
}
.testimonial label {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.testimonial input[type="text"], .testimonial input[type="date"], .testimonial textarea {
	float: left;
	width: 100%;
	clear: both;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 10px;
}
.user_detail {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.user_detail h4 {
	padding-bottom: 10px;
}
.user_detail .info_admin {
	float: left;
	margin-left: 0;
	margin-right: 1%;
	width: 49%;
}
.info_main_cover {
	float: left;
	width: 100%;
}
.info_main_cover input[type="text"] {
	border: 1px solid #ccc;
	clear: both;
	float: left;
	height: 40px;
	padding-left: 10px;
	width: 100%;
}
.info_admin_bottom {
	float: left;
	margin-right: 1%;
	width: 49%;
}
.info_admin_bottom label {
	float: left;
	margin-top: 0px;
	width: 100%;
}
.info_main_cover {
	float: left;
	margin-top: 30px;
	width: 100%;
}
.ckeditor_tab {
	float: left;
	width: 100%;
}
.ckeditor_tab li a {
	background: #2d3e50;
	float: left;
	margin-right: 7px;
	padding: 10px 25px;
	width: 100%;
	color: #fff;
}
.info_main .date_selection select {
	margin-right: 2%;
	width: 31.3%;
	margin-left: 0;
}
.info_main .date_selection select:last-child {
	width: 33.3%;
	margin: 0;
}
.info_main.country_custom > select {
	width: 80%;
	margin-right: 0px;
}
.meet_our_team_cover {
	float: left;
	width: 100%;
}
.team_content {
	float: left;
	width: 100%;
}
.team_content p {
	text-align: center;
	font-size: 16px;
}
/*  bhoechie tab */
div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-left: 50px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa {
	color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #2d3e50;
	background-image: #2d3e50;
	color: #ffffff;
	border: medium none;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #2d3e50;
}
div.bhoechie-tab-content {
	background-color: #ffffff;
	/* border: 1px solid #eeeeee; */
	padding-left: 20px;/*   padding-top: 10px; */
}
.profile_content > h4:first-child {
	margin-top: 0;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}
.pic_content > h3 {
	font-size: 20px;
	margin-top: 5px;
}
.pic_content > p {
	margin-bottom: 0;
}
.meet_menu, .meet-content {
	margin-top: 30px;
}
.social_icons {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.profile_content {
	float: left;
	width: 100%;
}
.profile_content > h4 {
	color: #ff6f1f;
	float: left;
	margin: 10px 0;
	width: 100%;
}
.profile_content > p {
	float: left;
	font-size: 16px;
	width: 100%;
}
.social_icons i {
	margin-right: 10px;
	font-size: 18px;
}
.social_icons span {
	font-size: 16px;
}
.mobile_profile_show {
	display: none;
}
.testimonial textarea {
	width: 100% !important;
	height: 100px;
	padding-top: 5px;
}
.accordion_btn {
	display: table;
	float: right;
}
.accordion_btn a {
	padding: 10px 30px;
}
a.btn_send {
	background: #ff6f1f;
	font-size: 14px;
	color: #fff;
}
a.btn_cancel {
	background: #ccc;
	color: #5B5858;
	margin-left: 10px;
}
a.btn_send:hover {
	background: #2d3e50;
	transition: 0.3s;
}
a.btn_cancel:hover, .personal_info .cancel:hover {
	background: #2d3e50;
	transition: 0.3s;
	color: #fff;
}
.checkbox.chk_33 {
	float: left;
	width: 33.3%;
	margin-top: 10px;
	position: relative;
	display: block;
}
.admin_logout .nav>li>a:focus, .admin_logout .nav>li>a:hover {
	background-color: transparent;
	color: #2d3e50;
}
.admin_logout .nav>li>a {
	color: #ff6f1f;
}
.admin_logout .dropdown-menu>li>a:hover, .admin_logout .dropdown-menu>li>a:focus, .admin_logout .dropdown-submenu:hover>a, .admin_logout .dropdown-submenu:focus>a {
	background: #2d3e50;
	color: #fff;
}
.admin_logout .caret {
	margin-top: -4px;
}
.term-condition a {
	color: #ff6f1f;
}
.banner {
	float: left;
	width: 100%;
	background-image: url(../images/service-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.bnrxt {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	top: 50%;
	bottom: 50%;
}
.bnrxt h2 {
	font-size: 38px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
.bnrxt img {
	padding-top: 20px;
	padding-bottom: 20px;
}
.bnrxt p {
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: table;
	margin: 0 auto;
	font-weight: 300;
}
.main {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 75px 0 0 0;
}
.our_services_tab ul.nav.nav-pills {
	float: left;
	width: 100%;
	background: none;
}
.our_services_tab .nav-pills>li {
	float: left;
	width: 25%;
	border: 0;
	margin: 0;
	text-align: center;
}
.our_services_tab .nav-pills>li>a {
	border-radius: 0;
	padding: 10px 10px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	border: 2px solid #ededed;
	border-left-width: 0;
	border-right-width: 0;
}
.our_services_tab .nav-pills>li+li {
	margin-left: 0;
	border-left: 2px solid #ededed;
}
.our_services_tab .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #ff6f1f;
	border-color: #ff6f1f;
}
.our_services_tab .nav-pills>li:first-child > a {
	border-radius: 50px 0px 0px 50px;
	border-left-width: 2px;
}
.our_services_tab .nav-pills>li:last-child > a {
	border-radius: 0px 50px 50px 0px;
	border-right-width: 2px;
}
.our_services_tab .nav>li>a:focus:after, .our_services_tab .nav>li>a:hover:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #ededed;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	content: '';
	z-index: 999;
	margin: 0 auto;
}
.our_services_tab .nav-pills>li.active > a:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #ff6f1f;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	content: '';
	z-index: 999;
	margin: 0 auto;
}
.our_services_tab .quick_consult_cont {
	margin-top: 50px;
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.our_services_tab .quick_consult_cont p {
	font-size: 15px;
	line-height: 24px;
	color: #000;
	margin-bottom: 30px;
}
.our_services_tab .quick_consult_cont h3 {
	font-size: 21px;
	color: #86553a;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 30px;
}
.our_services_tab .quick_consult_cont a {
	font-size: 17px;
	background: #405872;
	color: #fff;
	text-transform: capitalize;
	padding: 13px 40px;
	border-radius: 30px;
	box-shadow: 1px 1px 6px #405872;
    margin-right: 10px;
	float: left;
}
.our_services_tab .quick_consult_cont a:hover {
	background: #ff6f1f;
	box-shadow: 1px 1px 6px #ff6f1f;
}
.our_services_tab .quick_consult_step {
	float: left;
	width: 100%;
}
.our_services_tab .quick_consult_step ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-width: 655px;
}
.our_services_tab .quick_consult_step ul li {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 55px;
	padding-bottom: 25px;
}
.our_services_tab .quick_consult_step ul li span {
	position: absolute;
	left: 0;
	top: 0;
	background: #ff6f1f;
	color: #fff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	box-shadow: 0px 0px 5px #ff6f1f;
	font-weight: 900;
}
.our_services_tab .quick_consult_step ul li p {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #000;
	line-height: 25px;
}
.our_services_tab .quick_consult_step ul li p strong {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #86553a;
	font-weight: 900;
}
.our_services_tab .quick_consult_step ul li:after {
	position: absolute;
	left: 16px;
	top: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	width: 5px;
	background: #f1f1f1;
	content: '';
}
.our_services_tab .quick_consult_step ul li:last-child:after {
	display: none;
}
.our_services_tab .tab_img {
	float: right;
	margin-right: -15%;
	margin-top: -40px;
}
.modal {
	z-index: 99999;
}
.contact_header .social_link ul li i {
	background: none;
	border: 0;
	color: #405872;
	line-height:45px;
	height:auto;
	width:100%; 
	text-align:center; 
	padding:0;
	margin:0;
}
.contact_header .social_link ul li a
{
	float:left; height:45px; width:45px; line-height:45px; text-align:center; border:2px solid #dbe1e7; border-radius:2px; position:relative;; overflow:hidden; 
}
.contact_header .social_link ul li a:after
{
	position:absolute;left:0; right:0; top:-100%; bottom:0; width:100%; height:100%; background:#ff6f1f; content:'';z-index:-1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact_header .social_link ul li a:hover:after
{
	top:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact_header .social_link ul li a:hover
{
	border-color:#ff6f1f
}
.contact_header .social_link ul li a:hover i
{
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
.free_trial {
	float: right;
	display: inline-block;
	margin-left: 20px;
	width:auto;
}
.contact_header {
	display: inline-block;
	width:auto;
	float:none
}
.header_right_bottom
{
	text-align:right;
}
img#profileimage {
	padding: 0;
	border-radius: 50%;
	border: 3px solid #2d3e50;
	margin: 0 auto;
	display: table;
	float: none;
	height: 200px;
	width: 200px;
}
.quick_consult_btn {
	width: 100%;
	text-align: center;
	margin: 20px 0 30px;
	float: left;
}
.quick_consult_btn input, .quick_consult_btn button.btn {
	width: auto;
	margin: 0 1%;
	background: #2d3e50;
	float: left;
	padding: 10px;
	color:#fff;
	text-align:center;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.quick_consult_btn button.btn
{
	background:#ff6f1f
}
.quick_consult_btn input:hover
{
	background:#ff6f1f; color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.quick_consult_btn button.btn:hover
{
	background:#2d3e50; color:#fff;
}
ul.content_popup li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 0 0px;
}
ul.content_popup li a {
	height: 35px;
	width: 35px;
	border: 2px solid #dbe1e7;
	line-height: 31px;
	display: inherit;
	margin: 0 auto;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	background: #ff6f1f;
}
ul.content_popup li:nth-child(2n) a
{
	background:#2d3e50
}
ul.content_popup li:nth-child(3n) a
{
	background:#86553a
}
ul.content_popup li:nth-child(4n) a
{
	background:#999999 
}
.info_main .date_selection select[disabled="disabled"], .info_main > select[disabled="disabled"] {
	background-color: #ebebe4;
}
.tab2_profile {
	max-height: 250px;
	width: 250px;
	float: none;
	background: #e8e8e8;
	padding: 10px;
	margin: 0 auto;
	display: table;
}
.tab2_profile img {
	max-width: 100%;
	width: 100%;
}
.profile_image
{
	text-align:center;
}
profile_image label {
	border: 5px solid rgb(255, 111, 31);
	border-radius: 50%;
}
.profile_tab .tab-pane
{
	width:100%;
}
#tree_demo ul li a
{
	background:none; margin:0; padding:1px 2px; float:none; width:auto; color:#000;    display: inline-block;
	line-height: 18px;
	height: 18px;
	color: black;
	white-space: nowrap;
	text-decoration: none;
	padding: 1px 2px;
	margin: 6px 0;
}
.jstree-classic .jstree-hovered
{
	padding: 1px 2px !important;
	margin: 6px 0 !important;
	border:0 !important;	
	color:#ff6f1f !important;
}
.jstree-classic .jstree-clicked
{
	padding: 1px 2px !important;
	margin: 6px 0 !important;
	border:0 !important;	
	color:#ff6f1f !important;
}
#MessagePopup .modal-body
{
	text-align:center;
}
#MessagePopup .modal-body .form-actions.pull-right {
	float: none;
	margin: 20px auto 0;
	display: block;
	width: 100%;
}
#MessagePopup .modal-body input.btn.green.uppercase
{
	background:#ff6f1f; color:#fff;padding: 9px 40px;
}
#MessagePopup .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #2d3e50;
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 21px;
	float: left;
	z-index:9999;
}
#MessagePopup .modal-body {
	position: relative;
	padding: 40px 15px;
}
.jstree-classic.jstree-focused
{
	padding:15px;
}
span#lbltime {
	font-size: 18px;
}
#MessagePopup .modal-body input.btn.green.uppercase:hover
{
	background:#2d3e50
}
h3.title.no-space small {
	float: left;
	width: 100%;
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}
button.btn.qc.uppercase
{
	background: #ff6f1f;
}
button.btn.ec.uppercase
{
	background: #2d3e50;
}
button.btn.mht.uppercase
{
	background: #86553a;	
}
button.btn.mcg.uppercase
{
	background: #999999;
}
button.btn.uppercase span.button-service {
	color: #fff;
}
button.btn.uppercase h6.uppercase.text-left.padding-10 {
	line-height: 18px;
}
button.btn.btn-blue1 {
	background: #2d3e50;
	color: #fff;
}
button.btn.btn-blue1:hover
{
	background:#ff6f1f
}
div#tbltestimonial_length select {
	padding:7px 10px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	box-shadow: inset 1px 1px 7px #d8d8d8;
}
div#tbltestimonial_length {
	float: left;
	text-align: left;
	padding: 15px 0;
}
div#tbltestimonial_filter {
	float: right;
	text-align: right;
	padding: 15px 0;
}
div#tbltestimonial_filter input[type="search"]
{
	padding:7px 10px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	box-shadow: inset 1px 1px 7px #d8d8d8; 
	margin:0 0px 0 5px;
	width:280px;
}
div#tbltestimonial_paginate {
	float: left;
	width: 100%;
	text-align: center;
}
div#tbltestimonial_paginate a {
	display: inline-block;
	padding: 7px 5px;
	color: #2d3e50;
	border: 1px solid #2d3e50;
	width: 80px;
	text-align: center;
	background:#fff;
}
div#tbltestimonial_paginate a.current
{
	color:#ff6f1f
}
a#tbltestimonial_previous {
	border-radius: 4px 0 0 4px;
}
a#tbltestimonial_next
{
	border-radius: 0px 4px 4px 0px;
}
div#tbltestimonial_paginate a:hover
{
	color:#ff6f1f; cursor:pointer;
}
.input-group.date_pick input, .input-group.date_pick {
	width: 100%;
}
.input-group.date_pick input {
	background:#fff url(../images/calander.png);
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
	border-radius:4px !important;
}
.tab_profile #1a
{
	padding-top:0;
}
h4.bold.uppercase {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size:25px;
}
#testimonial_form h4
{
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size:25px;
}
div#dvPreview1 img {
	height: 100% !important;
	width: 100%;
	max-height: 100% !important;
	float: left;
}
button.cancel
{
	background: #2d3e50 !important;
	transition: 0.3s;
	color: #fff !important;
}
button.cancel:hover
{
	background:#ff6f1f !important;
	transition: 0.3s;
	color: #fff;
}
.main_content {
	margin: 30px 0;
	float:left;
	width:100%;
}
h3.title.text-capitalize.text-center.bold {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	color: #ff6f1f;
}
.portlet-body {
	float: left;
	width: 100%;
}
.no-space.portlet-body-content p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}
.portlet-title {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.portlet-title h4
{
	font-size:18px;
}
.portlet-body input:focus, .portlet-body textarea:focus {
	border: 1px solid #ccc !important;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
input#txtdocfileupload {
	border: 0;
	padding: 0;
	box-shadow: none;
}
input#txtdocfileupload {
	border: 0;
	padding: 0;
	box-shadow: none;
	float: left;
	width: 100%;
}
label.file_title {
	float: left;
	width: 100%;
}
/*.btn
{
	font-size:16px;padding: 2px 30px;
	}*/
	.margin-top-25 {
		margin-top: 25px;
	}
	.msg_cover {
		float: left;
		width: calc(100% - 200px);
		padding: 15px;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin-right: 100px;
		margin-top: 20px;
	}
	.msg_cover.reply {
		margin-top: 20px;
		float: right;
		margin-right: 0;
		background: #f2f2f2;
	}
	table.uploadResult
	{
		margin-bottom:0;
	}
	table.uploadResult tr td {
		border: 0;
		padding: 5px 10px;
	}
	table.uploadResult tr td a
	{
		font-weight:normal; font-size:14px !important;
	}
	.portlet-body h5.portlet-title {
		font-size: 16px;
		margin-bottom: 10px;
		margin-top:10px;
	}
	i.fa.fa-eye.fa-2x {
		color: #ff6f1f;
	}
	.success_msg {
		float: left;
		width: 100%;
		padding: 15px;
		background: #eeffe8;
		border-radius: 6px;
		margin-bottom: 20px;
		color: green;
	}
	.success_msg p, .error_msg p
	{
		margin:0;
	}
	.error_msg {
		float: left;
		width: 100%;
		padding: 15px;
		background: #ffdfdf;
		border-radius: 6px;
		margin-bottom: 20px;
		color: red;
	}
	.logout_profile {
		position: absolute;
		right: 0;
		top: 45px;
		width: 250px;
		background: #fff;
		z-index: 999;
		box-shadow: 0px 0px 8px #ccc;
	}
	.logout_profile .profile_img {
		background: #2d3e50;
		float: left;
		width: 100%;
		padding: 15px;
		border-top: 5px solid #ff6f1f;
		text-align: center;
	}
	.logout_profile .profile_img p {
		margin: 0;
		color: #fff;
	}
	.logout_profile .profile_img img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 4px solid rgba(255, 255, 255, 0.64);
		margin-bottom: 15px;
	}
	.logout_profile .btn_cover {
		float: left;
		width: 100%;
		padding: 15px 10px;
		border-top: 0;
	}
	.logout_profile .btn_cover a {
		float: left;
		padding: 10px 4px;
		background: #2d3e50;
		color: #fff !important;
		margin: 0 5px;
		border-radius: 4px;
	}
	.logout_profile .btn_cover a:last-child
	{
		background:#ff6f1f
	}
	.logout_profile .btn_cover a:hover
	{
		background:#ff6f1f
	}
	.logout_profile .btn_cover a:last-child:hover
	{
		background: #2d3e50;
	}
	.user_profile {
		float: left;
	}
	.user_profile img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: inline-block;
		float: left;
	}
	.user_profile p {
		display: inline-block;
		line-height: 30px;
		margin: 0;
		margin-left: 10px;
		float: left;
	}
	a.user
	{
		float:left
	}
	ul.mode_communication {
		float: left;
		width: 100%;
	}
	ul.mode_communication li {
		float: left;
		width: 100%;
		text-align: left;
		list-style-type: none;
		margin-bottom: 15px;
	}
	ul.mode_communication li label {
		float: left;
		width: 100%;
		margin: 0;
	}
	ul.mode_communication li label input {
		border: 0 !important;
		margin: 0;
		box-shadow: none;
		float: left;
		width: 30px;
	}
	ul.mode_communication li label input:focus
	{
		box-shadow:none; outline:none
	}
	ul.mode_communication li label span {
		float: left;
		line-height: normal;
		margin-left: 10px;
	}
	.margin-bottom-10 {
		margin-bottom: 10px;
	}
	.margin-top-15 {
		margin-top: 15px;
	}
	.portlet.box.green {
		float: left;
		width: 100%;
		background: #f2f2f2;
		padding: 15px;
		border-radius: 6px;
        min-height: 304px;
	}
	.panel-title a[aria-expanded="true"] .glyphicon-plus:before
	{
		content:"\2212";
	}
	.panel
	{
		background:none !important;
	}
	.panel_inner input {
		height:40px;
		padding:7px 10px;
	}
	.checkboxNew input, .chk_group input, input[type=checkbox], input[type=radio]
	{
		height:auto;
	}
	.chk_group h5 {
		color: #ff6f1f;
	}
	.accordion_btn button {
		background: #ff6f1f;
		border: 0;
		padding: 10px 20px;
		margin-left: 10px;
		color: #fff;
		font-size: 16px;
		border-radius:4px
	}
	.accordion_btn button.btn_send
	{
		background:#2d3e50;
	}
	.accordion_btn button:hover
	{
		background:#2d3e50;
	}
	.accordion_btn button.btn_send:hover
	{
		background: #ff6f1f;
	}
	.modal
	{
		overflow:auto;
	}
	body
	{
		margin:0 !important; padding:0 !important;
	}

	/*=============== update 4th june ===============*/

	.header_right_top li a i{
		font-size: 15px;
	}
	.circle-tag a{
		float: left;
		margin-top: -40px;
		width: 40px;
		height: 40px;

	}
	.circle-arrow{
		background-image: url(../images/left-arrow.png);
		border: none;
		background-position: center;
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		background-color: #ff6f1f;
		text-align: center;
		background-size: 25px;
		cursor: pointer;
	}
	.circle-arrow:hover{
		background-color: #2d3e50;
		transition: 0.3s;

	}
	.checkout_tab li a p.sign-up{
		background-color: #2d3e50;
		background-image: url('../images/sign-up.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 25px;
	}
	.checkout_tab li a p.profile{
		background-color: #2d3e50;
		background-image: url('../images/edit.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 25px;
	}
	.checkout_tab li a p.payment{
		background-color: #2d3e50;
		background-image: url('../images/payment.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 25px;
	}
	.checkout_tab li a p.health{
		background-color: #2d3e50;
		background-image: url('../images/health2.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 25px;
	}
	.charges{

		float: left;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.padding-10{
		display: flex;
		align-items: center;
		margin-bottom: 10px
	}
	.no-space p{
		width: 100%;
		float: left;
		font-size: 13px;
		margin: 0 0 0px
	}
	.main-background {
		padding: 10px 15px;
		background-color: rgba(173, 216, 230, 0.28);
		margin-bottom: 20px;
	}
	input.btn.green.btn-small.border-radius-4 {
		background-image: url(../images/paypal.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding: 0px 30px;
	}
	div#tbltestimonial_filter{
		float: left;
		text-align: left;
	}
/*.btn {
    font-size: 16px;
    padding: 2px 30px;
    float: right;
    }*/
    div#tbltestimonial_wrapper {
    	margin-top: -45px;
    	z-index: 1;
        clear:both
    }
/*.btn {
    font-size: 16px;
    padding: 2px 5px;
    float: right;
    }*/
    span .btn-success{
    	margin-top: 10px;
    	position: relative;
    	z-index: 9;
    	float: right;
    	    background-color: #86553A;
    border-color: #86553A;
    }
    .profile_tab li a{
    	margin-top: 0px
    }
    .para-wrap{
    	margin-bottom: 30px
    }

    ul.mode_communication li {
    	float: left;
    	width: 50%;
    	text-align: left;
    	list-style-type: none;
    	margin-bottom: 20px;
    }
    .portlet.light.bg-inverse {
    	float: left;
    	width: 100%;
    	background: #f2f2f2;
    	padding: 15px;
    	border-radius: 6px;
    	min-height: 305px;
    }
    .expand{
    	margin-bottom: 20px;
    	width: 100%;
    	float: left;
    }
    .form-control{
    	font-size: 12px
    }
    .date_pick{
    	background:  url(../images/calander.png);
    	background-repeat: no-repeat;
    	background-position: right;
    	cursor: pointer;
    	padding-left:5px; 
    	border-radius: 4px !important;
    }
    .no-border span.padding-10 {
    	display: inline-block;
    }
    .row:focus {
    outline: none;
}
button.btn.qc.uppercase:focus {
    outline: none;
}
.msg_cover.reply:before {
    content: "";
    background-image: url(/images/reply-right-arrow.png);
    position: absolute;
    left: 450px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #2d3e50;
}
.glyphicon-chevron-right:before {
    content: "\e080"!important;
}
.checkboxNew {
    float: left;
    width: 25%;
    margin-bottom: 5px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
     width: 100%; 
    margin-right: 0;
}
.carousel-control.left {
    right: 55px !important;
    transform: skewX(-4deg);
}

/*============ new expand classes===========*/

ul.content_popup li {
    float: none;
    width: 24%;
    text-align: center;
    padding: 0 0px;
}
.content > ul {
    border-top: 1px solid #ccc;
    float: left;
    margin-top: 10px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
}
.profile_tab li a {
    background: #2d3e50;
    float: left;
    margin-right: 7px;
    padding: 10px 20px;
    width: auto;
    color: #fff;
}
p.accordion {
    background-color: rgba(218, 218, 218, 0.45);}

    p.accordion.active, p.accordion:hover {
    background-color: #ddd;
    transition: 0.3s;
    color:#ff6f1f
}
.checkboxNew.chk_33 {
    font-size: 12px;
}
.other-btn {
    width: 100%;
    float: left;
    margin-bottom:20px;
}
.check_box.col-md-4.col-xs-12 {
    margin-bottom: 10px;
}
.checkboxNew label {
    font-size: 12px;
    line-height: 26px;
}
.checkboxNew {
            float: left;
            width: 25%;
            margin-bottom: 5px;
        }
        h4.h4clsprice {
    width: 100%;
    float: left;
}
a.aclsmoreinfo {
    width: auto;
    float: right;
    background: #00c0ef none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    padding: 2px 6px;
    text-align: center;
}
.main-background table {
    width: 100%;
    float: left;
}
a.aclsmoreinfo:hover {
    background: #2d3e50;
}
.new-cls{
	    margin-top: 10px;
}
.right-cls{
	width: 100%;
	float:right;
	text-align: right;
}
.box-wrap {
    margin-bottom: 10px;
}
span#totalPayment {
    font-weight: bold;
    margin-right: 10px;
}
span.font-red {
    color: red;
        margin-left: -7px;
}
.portlet.light {
    width: 100%;
    float: left;
}
.caption {
    font-weight: bold;
}
input#weight , input#height ,input#Inch {
    float: left;
    margin-right: 10px;
    height: 40px;
    padding: 10px;
}
button.add_wrap {
   padding: 0;
    width: 50%;
    border-radius: 5px;
    height: 40px;
    border: none;
    background-color: #ff6f1f;
    color: #fff;
}
.wrapper1         {width:80%;height:100%;margin:0 auto;}
.h_iframe        { position: relative;float: left; width: 100%;padding-bottom:50px;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:relative;top:0;left:0;width:100%; }
.wrapper1 h1 {
    color: #ff6f1f;
    font-size: 30px;
    margin: 20px 0px;
        width: 100%;
    float: left;
}
.dropdown_li:last-child a {
     background: none; 
    
}
/*updated 29/07*/
    .testimonial2{
    	width: 100%;
    	float: left;
    	position: relative;
    	background-image: url('../images/slider2.png');
    	background-size: cover;
    	background-position: center center;
    	padding: 55px 0;
    	background-repeat: no-repeat;
    }
    .owl-next{
    	background: url(../images/right-arrow.png) !important;
    	font-size: 0 !important;
    	width: 44px;
    	height: 44px;
    	margin: 0 !important;
    	padding: 0px !important;
    	background-repeat: no-repeat;
    	position: absolute;
    	right: 0;
    	top: 50%;
    	transform: translateY(-50%);
    }
    .owl-prev{
    	background: url(../images/left-arrow.png) !important;
    font-size: 0 !important;
    width: 44px;
    height: 44px;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    }
    .owl-theme .owl-nav{
    	position: static;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    font-size: 0 !important;
    right: 0;
    }
    .user_img{

    	width: 100px;
    	height: 100px;
    	background-position: right center;
    	border-radius: 50%;
    	margin-top: 80px;
    	border: 2px solid #fff;
    	margin: 0 auto;
    	overflow: hidden;
    }
    .owl-carousel .owl-item img {
    	display: block;
    	width: auto;
    	float: right;
    }
    .comments2 {
    	width: 100%;
    	margin: 0 auto;
    	max-width: 700px;
    	text-align: center;
    	display: table;
    }
    .comments2 p {
    	font-size: 18px;
    	color: #fff;
    	font-family: poppins;
    }
    .comments2 h5 {
    	font-size: 18px;
    	color: #fff;
    	font-family: oswald;
    	margin: 20px 0;
    	text-transform: uppercase;
    }
    .comments2 h6 {
    	font-size: 14px;
    	color: #fff;
    	font-family: poppins;
    }
    .small-crl{
    	width: 16px;
    	height: 16px;
    	border-radius: 50%;
    	margin: 0 auto;
    	margin-bottom: 30px;
    	border: 2px solid #fff;
    }
    .outer {
    	width: 1px;
    	height: 100%;
    	margin: 0 auto;
    	position: relative;
    	overflow: hidden;
    }
    .inner {
    	position: absolute;
    	width:100%;
    	height: 40%;
    	background: #fff;
    	top: 30%;
    	box-shadow: 0px 0px 30px 20px #fff;
    }
    .line{
    	height: 30px; 
    	margin: 0 auto;
    }
    .our_sponcer {
    float: left;
    width: 100%;
}
.logo_sponcer {
    width: 100%;
    float: left;
}
span.paypal-checkout {
    width: 100%;
    float: right;
    text-align: right;
        margin-top: 20px;
}
.main-background {
    padding: 0px 0;
    background-color: rgba(173, 216, 230, 0.28);
    padding-bottom: 20px;
    width: 100%;
    float: left;
}
.paypal-checkout button {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
}
.one_box {
    width: 100%;
    float: left;
    padding: 10px 0px;
    border-bottom: 5px solid #fff;
}
.four_box{
	     width: 100%;
    float: left;
    padding: 30px 0px;
    padding-left: 20px;
    border-bottom: 5px solid #fff;

}
p.discription {
    padding: 20px;
}
a.aclsmoreinfo {
    margin-right: 20px;
}
.two_box {
    width: 100%;
    float: left;
    padding: 10px 0;
        border-bottom: 5px solid #fff;
}
h4.h4clsprice {
    width: 100%;
    float: left;
    padding: 20px;
}
.main-background table tr td{
	    padding: 5px 20px;
}
.three_box {
    width: 100%;
    float: left;
    padding: 20px;
     border-bottom: 5px solid #fff;
}
.no-space p {
    width: auto;
    float: left;
    line-height: 26px;
    font-size: 13px;
    margin: 0 0 0px;
}
.bold_span{
	font-size: 18px;
}
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 20px !important;
    width: 49%;
    vertical-align: middle;
    cursor: pointer;
}

span.paypal-checkout {
    width: 100%;
    float: none;
    text-align: center;
    display: grid;
    margin-top: 20px;
    align-items: center;
}
span#totalPayment {
    font-weight: bold;
    margin-right: 10px;
    font-size: 30px;
}
.fixslider img {
        width: 150px;
    height: 40px;
}
.checkout_tab li a:after {
    position: absolute;
    left: -13px;
    top: 9px;
    content: "\f105";
    font: normal normal normal 44px/1 FontAwesome;
    color: #ff6f1f;
    z-index: 99;
}
.checkout_tab li:first-child a:after {
    display:none;
}
.checkout_tab .spanprocessflow {
    font-size:25px;
        color: #ff6f1f;
        margin-bottom:5px;
}
.checkout_tab li.clslicls a p {
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    
    padding: 0;
    font-size: 16px;
    color: #FFF;
    margin: 0 auto;
    display: table;
    margin: 0;
    line-height: 60px;
}