﻿@model MusicEventAPI.Areas.Admin.Entity.Category
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var seconds = 5;
                setTimeout(function () {
                    document.getElementById("lblmessage").style.display = "none";
                }, seconds * 1000);
            };
        </script>
    }
}
<style>
    form#myformid {
        float: left;
        width: 100%;
        padding: 15px;
    }

    .radio-list label input {
        float: left;
    }

    .no-space label input {
        float: left;
    }
    .astricred{
        color:red;
        font-size:17px;
    }
    .panel-collapse {
        padding: 10px;
    }
</style>



<section class="content-header">
    @if (Model.CategoryID == 0)
    {<h1>Add Category<small></small></h1>
    }
    else
    {
        <h1>Edit Category <small></small></h1>
    }
    <ol class="breadcrumb">
        <li><a href="/Admin/Category"><i class="fa fa-dashboard"></i> Category</a></li>
        <li class="active">Manage</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <link href="../../css/jquery-ui.css" rel="stylesheet" />
    <link href="../../css/hint-tooltip.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @{
        List<SelectListItem> listItems3 = new List<SelectListItem>();
        {

            listItems3.Add(new SelectListItem
            {
                Text = "1",
                Value = "1"
            });
            listItems3.Add(new SelectListItem
            {
                Text = "2",
                Value = "2"
            });
            listItems3.Add(new SelectListItem
            {
                Text = "3",
                Value = "3"
            });
            listItems3.Add(new SelectListItem
            {
                Text = "4",
                Value = "4"

            });
            listItems3.Add(new SelectListItem
            {
                Text = "5",
                Value = "5"
            });


        }
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="col-md-12 no-space" role="alert" id="lblmessage">
            <div class='@TempData["SuccessMessage"]'><strong>@TempData["SuccessMessage"]</strong></div>
        </div>
    }

    <div class="box box-primary">

        <div class="box-body">
            @using (Html.BeginForm("Manage", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @id = "testimonial_form" }))
            {
                @*<form role="form" action="#">*@
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group" style="margin-left: 12px;">

                            <b> Category Name</b><span class="astricred">*</span>
                            @Html.HiddenFor(x => x.CategoryID)
                            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(o => o.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-left: 12px;">
                            <b>Category Group Name</b>
                            @Html.DropDownListFor(model => model.MainCatID, new SelectList(MusicEventAPI.Areas.Admin.Repository.ConstantRepository.GetMainCategory(), "MainCatID", "MainCategoryName"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(o => o.MainCatID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-left: 32px;">
                        <div class="checkbox">
                            @*<label>@Html.CheckBoxFor(x => x.ISActive) Is Active</label>*@
                            @Html.CheckBox(nameof(Model.ISActive), Model.ISActive ?? false)
                            @*<b>  @Html.LabelFor(m => m.ISActive)</b>*@
                            <b>ISActive</b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" onclick="javascript:history.back()" class="btn btn-default pull-right">Cancel</button>
                        <button type="button" id="btnsubmit" style="margin-right: 10px;" class="btn btn-success pull-right">@(Model.CategoryID == 0 ? "Create" : "Update")</button>
                        <button type="submit" id="btnsubmitcall" style="display:none"></button>
                    </div>
                </div>
                <div class="col-md-12">


                </div>
            }
        </div>
    </div>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../JS/jquery-ui.js"></script>

</section>
<script>

    $("#btnsubmit").click(function () {
        var categoryName = $("#CategoryName").val();

        if (categoryName == "") {
            swal("Error!", "Please Enter Category Name.", "error")
        }
        else {
            $("#btnsubmitcall").click();
        }
    })
</script>


